@media (max-width: 1199px) {
    .gallery__slider_prev {
        left: 0px;
    }
    .gallery__slider_next {
        right: 0;
    }
    .gallery__item {
        width: 406px;
        height: 337px;
    }
}