div#dashboard
	<div class="card">	
		<div class="card-header header-elements-inline">		
		</div>	

		<div class="card-body">
			<div class="col-md-2">
				<div class="form-group">
					<label class="d-block">Select Base</label>
					<div class="">
						<select class="form-control select-icons baseBinance baseBinance_istands"> 
							<option value="0"  data-icon="Bitcoin.svg.png">BTC</option>
							<option value="1"  data-icon="tether.svg">USDT </option>
						</select>
					</div>				
				</div>
			</div>
		</div>
	</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"></script>
<form enctype="multipart/form-data">
	<input id="upload" type=file  name="files[]">
</form>

<textarea class="form-control" rows=35 cols=120 id="xlx_json"></textarea>

<script src="js/blockui.min.js"></script>
<script src="js/interactions.min.js"></script>
<script src="js/select2.min.js"></script>


<script src="js/form_select2.js" ></script>
