@media (max-width : 991px) {
  .proizv__slideitem {
    width : 623px;
  }

  .proizv__slider_prev {
    left : 0px;
    top  : 145px;
  }

  .proizv__slider_next {
    right : 0px;
    top   : 145px;
  }
}