<!DOCTYPE html>
<html class="no-js" lang="ru">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>default title</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="telephone=no" name="format-detection">
        <meta name="HandheldFriendly" content="true">

        <!--[if (gt IE 9)|!(IE)]><!-->
        <link href="static/css/mainl9ymzr.min.css" rel="stylesheet" type="text/css">
        <!--<![endif]-->
        <meta property="og:title" content="#{data.title}">
        <meta property="og:title" content="">
        <meta property="og:url" content="">
        <meta property="og:description" content="">
        <meta property="og:image" content="">
        <meta property="og:image:type" content="image/jpeg">
        <meta property="og:image:width" content="500">
        <meta property="og:image:height" content="300">
        <meta property="twitter:description" content="">
        <link rel="image_src" href="">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://unpkg.com/vue-select@latest"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
        <script src="https://cdn.jsdelivr.net/npm/pretty-checkbox-vue@1.1/dist/pretty-checkbox-vue.min.js"></script>
        <script src="https://nightcatsama.github.io/vue-slider-component/dist/index.js"></script>
        <script>
            (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)
        </script>
    </head>

    <body class="page">
        <div id="app">
            <header class="header">
                <div class="container">
                    <div class="header-menu1" v-on:click="openMenu1">
                        <div class="menu-left" id="menu1"></div>
                        <div class="menu-span">КАТАЛОГ</div>
                    </div>
                    <div class="logo"></div>
                    <div class="header-menu2" v-on:click="openMenu2">
                        <div class="menu-span">МЕНЮ</div>
                        <div class="menu-right">
                            <div class="menu"><span class="bar"></span>
                                <span class="bar"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-menu" id="menu2" v-if="m2">
                    <div class="close">
                        <div class="close_area" v-on:click="closeMenu">Закрыть
                            <div class="close_btn"><i class="fas fa-times"></i>
                            </div>
                        </div>
                    </div>
                    <div class="menu_big">
                        <div class="menu_content">
                            <a href="company.html"> <span>О компании</span>
                                <div class="link1 link"></div>
                            </a>
                            <a href="articles.html"> <span>Акции и новости</span>
                                <div class="link2 link"></div>
                            </a>
                            <a href="reviews.html"> <span>Отзывы</span>
                                <div class="link3 link"></div>
                            </a>
                            <a href="contacts.html"> <span>Контакты</span>
                                <div class="link4 link"></div>
                            </a>
                        </div>
                        <div class="menu_footer">
                            <div class="line1 line"><a href="">Наши магазины</a><a href="">Сертификаты и допуски</a><a href="">Отчеты о производственном тестировании</a><a href="">Поиск аналогов </a><a href="">Обратная связь</a>
                            </div>
                            <div class="line2 line">
                                <div class="socl">
                                    <div class="in soc"><i class="fab fa-instagram"></i>
                                    </div>
                                    <div class="vk soc"><i class="fab fa-vk"></i>
                                    </div>
                                    <div class="fb soc"><i class="fab fa-facebook-f"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="line3 line"><a href="">Политика Конфидициальности</a><a href="">Условия доставки</a><a href="">Гарантия и возврат</a><a href="">Стать дистрибьютером</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-menu katalog_menu" v-if="m1">
                    <div class="container">
                        <div class="close">
                            <div class="close_area" v-on:click="closeMenu">Закрыть
                                <div class="close_btn"><i class="fas fa-times"></i>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <div class="left">
                                <div class="btn item" v-on:mouseover="menu2show=1" v-on:click="menu2show=(menu2show==1)?0:1">
                                    <div class="text">Производство и машиностроение</div>
                                    <img class="bg" src="static/img/general/katalog_bg1.png">
                                    <div class="line" v-if="menu2show==1"></div>
                                    <div class="box" v-if="menu2show==1"></div>
                                </div>
                                <div class="show1" v-if="mobile &amp;&amp; menu2show==1">
                                    <div class="head-text">Широкий выбор1</div>
                                    <div class="btn item">Специальные пластичные смазки</div>
                                    <div class="btn item">Масла для ДВС</div>
                                    <div class="btn item">Жидкость для нейтрализации выхлопных газов AdBlue;</div>
                                    <div class="btn item">Масла для трансмиссий</div>
                                    <div class="btn item">Антифризы</div>
                                    <div class="btn item">Масла для навесного оборудования</div>
                                    <div class="btn item">Универсальные трансмиссионные масла для тракторной и строительной техники</div>
                                    <div class="btn item">Гидравлические жидкости</div>
                                    <div class="btn item">Жидкости для автоматических трансмиссий и ГУР спецтехники</div>
                                    <div class="btn item">Пожаробезопасные гидравлические жидкости;</div>
                                    <div class="btn item">Компрессионные масла</div>
                                </div>
                                <div class="btn item" v-on:mouseover="menu2show=2" v-on:click="menu2show=(menu2show==2)?0:2">
                                    <div class="text">Металлообработка</div>
                                    <img class="bg" src="static/img/general/katalog_bg1.png">
                                    <div class="line" v-if="menu2show==2"></div>
                                    <div class="box" v-if="menu2show==2"></div>
                                </div>
                                <div class="show1" v-if="mobile &amp;&amp; menu2show==2">
                                    <div class="head-text">Широкий выбор1</div>
                                    <div class="btn item">Специальные пластичные смазки</div>
                                    <div class="btn item">Масла для ДВС</div>
                                    <div class="btn item">Жидкость для нейтрализации выхлопных газов AdBlue;</div>
                                    <div class="btn item">Масла для трансмиссий</div>
                                    <div class="btn item">Антифризы</div>
                                    <div class="btn item">Масла для навесного оборудования</div>
                                    <div class="btn item">Универсальные трансмиссионные масла для тракторной и строительной техники</div>
                                    <div class="btn item">Гидравлические жидкости</div>
                                    <div class="btn item">Жидкости для автоматических трансмиссий и ГУР спецтехники</div>
                                    <div class="btn item">Пожаробезопасные гидравлические жидкости;</div>
                                    <div class="btn item">Компрессионные масла</div>
                                </div>
                                <div class="btn item" v-on:mouseover="menu2show=3" v-on:click="menu2show=(menu2show==3)?0:3">
                                    <div class="text">Пластичные смазки</div>
                                    <img class="bg" src="static/img/general/katalog_bg1.png">
                                    <div class="line" v-if="menu2show==3"></div>
                                    <div class="box" v-if="menu2show==3"></div>
                                </div>
                                <div class="show1" v-if="mobile &amp;&amp; menu2show==3">
                                    <div class="head-text">Широкий выбор1</div>
                                    <div class="btn item">Специальные пластичные смазки</div>
                                    <div class="btn item">Масла для ДВС</div>
                                    <div class="btn item">Жидкость для нейтрализации выхлопных газов AdBlue;</div>
                                    <div class="btn item">Масла для трансмиссий</div>
                                    <div class="btn item">Антифризы</div>
                                    <div class="btn item">Масла для навесного оборудования</div>
                                    <div class="btn item">Универсальные трансмиссионные масла для тракторной и строительной техники</div>
                                    <div class="btn item">Гидравлические жидкости</div>
                                    <div class="btn item">Жидкости для автоматических трансмиссий и ГУР спецтехники</div>
                                    <div class="btn item">Пожаробезопасные гидравлические жидкости;</div>
                                    <div class="btn item">Компрессионные масла</div>
                                </div>
                                <div class="btn item" v-on:mouseover="menu2show=4" v-on:click="menu2show=(menu2show==4)?0:4">
                                    <div class="text">Сельхозтехника</div>
                                    <img class="bg" src="static/img/general/katalog_bg1.png">
                                    <div class="line" v-if="menu2show==4"></div>
                                    <div class="box" v-if="menu2show==4"></div>
                                </div>
                                <div class="show1" v-if="mobile &amp;&amp; menu2show==4">
                                    <div class="head-text">Широкий выбор1</div>
                                    <div class="btn item">Специальные пластичные смазки</div>
                                    <div class="btn item">Масла для ДВС</div>
                                    <div class="btn item">Жидкость для нейтрализации выхлопных газов AdBlue;</div>
                                    <div class="btn item">Масла для трансмиссий</div>
                                    <div class="btn item">Антифризы</div>
                                    <div class="btn item">Масла для навесного оборудования</div>
                                    <div class="btn item">Универсальные трансмиссионные масла для тракторной и строительной техники</div>
                                    <div class="btn item">Гидравлические жидкости</div>
                                    <div class="btn item">Жидкости для автоматических трансмиссий и ГУР спецтехники</div>
                                    <div class="btn item">Пожаробезопасные гидравлические жидкости;</div>
                                    <div class="btn item">Компрессионные масла</div>
                                </div>
                                <div class="btn item" v-on:mouseover="menu2show=5" v-on:click="menu2show=(menu2show==5)?0:5">
                                    <div class="text">СТО</div>
                                    <img class="bg" src="static/img/general/katalog_bg1.png">
                                    <div class="line" v-if="menu2show==5"></div>
                                    <div class="box" v-if="menu2show==5"></div>
                                </div>
                                <div class="show1" v-if="mobile &amp;&amp; menu2show==5">
                                    <div class="head-text">Широкий выбор1</div>
                                    <div class="btn item">Специальные пластичные смазки</div>
                                    <div class="btn item">Масла для ДВС</div>
                                    <div class="btn item">Жидкость для нейтрализации выхлопных газов AdBlue;</div>
                                    <div class="btn item">Масла для трансмиссий</div>
                                    <div class="btn item">Антифризы</div>
                                    <div class="btn item">Масла для навесного оборудования</div>
                                    <div class="btn item">Универсальные трансмиссионные масла для тракторной и строительной техники</div>
                                    <div class="btn item">Гидравлические жидкости</div>
                                    <div class="btn item">Жидкости для автоматических трансмиссий и ГУР спецтехники</div>
                                    <div class="btn item">Пожаробезопасные гидравлические жидкости;</div>
                                    <div class="btn item">Компрессионные масла</div>
                                </div>
                                <div class="btn item" v-on:mouseover="menu2show=6" v-on:click="menu2show=(menu2show==6)?0:6">
                                    <div class="text">Транспорт, спецтехника, с/х техника</div>
                                    <div class="line" v-if="menu2show==6"></div>
                                    <div class="box" v-if="menu2show==6"></div>
                                </div>
                                <div class="show1" v-if="mobile &amp;&amp; menu2show==6">
                                    <div class="head-text">Широкий выбор1</div>
                                    <div class="btn item">Специальные пластичные смазки</div>
                                    <div class="btn item">Масла для ДВС</div>
                                    <div class="btn item">Жидкость для нейтрализации выхлопных газов AdBlue;</div>
                                    <div class="btn item">Масла для трансмиссий</div>
                                    <div class="btn item">Антифризы</div>
                                    <div class="btn item">Масла для навесного оборудования</div>
                                    <div class="btn item">Универсальные трансмиссионные масла для тракторной и строительной техники</div>
                                    <div class="btn item">Гидравлические жидкости</div>
                                    <div class="btn item">Жидкости для автоматических трансмиссий и ГУР спецтехники</div>
                                    <div class="btn item">Пожаробезопасные гидравлические жидкости;</div>
                                    <div class="btn item">Компрессионные масла</div>
                                </div>
                            </div>
                            <div class="right" v-if="menu2show&gt;0 &amp;&amp; !mobile">
                                <div class="show1" v-if="!mobile &amp;&amp; menu2show==1">
                                    <div class="head-text">Широкий выбор1</div>
                                    <div class="btn item">Специальные пластичные смазки</div>
                                    <div class="btn item">Масла для ДВС</div>
                                    <div class="btn item">Жидкость для нейтрализации выхлопных газов AdBlue;</div>
                                    <div class="btn item">Масла для трансмиссий</div>
                                    <div class="btn item">Антифризы</div>
                                    <div class="btn item">Масла для навесного оборудования</div>
                                    <div class="btn item">Универсальные трансмиссионные масла для тракторной и строительной техники</div>
                                    <div class="btn item">Гидравлические жидкости</div>
                                    <div class="btn item">Жидкости для автоматических трансмиссий и ГУР спецтехники</div>
                                    <div class="btn item">Пожаробезопасные гидравлические жидкости;</div>
                                    <div class="btn item">Компрессионные масла</div>
                                </div>
                                <div class="show1" v-if="!mobile &amp;&amp; menu2show==2">
                                    <div class="head-text">Широкий выбор2</div>
                                    <div class="btn item">Специальные пластичные смазки</div>
                                    <div class="btn item">Масла для ДВС</div>
                                    <div class="btn item">Жидкость для нейтрализации выхлопных газов AdBlue;</div>
                                    <div class="btn item">Масла для трансмиссий</div>
                                    <div class="btn item">Антифризы</div>
                                    <div class="btn item">Масла для навесного оборудования</div>
                                    <div class="btn item">Универсальные трансмиссионные масла для тракторной и строительной техники</div>
                                    <div class="btn item">Гидравлические жидкости</div>
                                    <div class="btn item">Жидкости для автоматических трансмиссий и ГУР спецтехники</div>
                                    <div class="btn item">Пожаробезопасные гидравлические жидкости;</div>
                                    <div class="btn item">Компрессионные масла</div>
                                </div>
                                <div class="show1" v-if="!mobile &amp;&amp; menu2show==3">
                                    <div class="head-text">Широкий выбор3</div>
                                    <div class="btn item">Специальные пластичные смазки</div>
                                    <div class="btn item">Масла для ДВС</div>
                                    <div class="btn item">Жидкость для нейтрализации выхлопных газов AdBlue;</div>
                                    <div class="btn item">Масла для трансмиссий</div>
                                    <div class="btn item">Антифризы</div>
                                    <div class="btn item">Масла для навесного оборудования</div>
                                    <div class="btn item">Универсальные трансмиссионные масла для тракторной и строительной техники</div>
                                    <div class="btn item">Гидравлические жидкости</div>
                                    <div class="btn item">Жидкости для автоматических трансмиссий и ГУР спецтехники</div>
                                    <div class="btn item">Пожаробезопасные гидравлические жидкости;</div>
                                    <div class="btn item">Компрессионные масла</div>
                                </div>
                                <div class="show1" v-if="!mobile &amp;&amp; menu2show==4">
                                    <div class="head-text">Широкий выбор4</div>
                                    <div class="btn item">Специальные пластичные смазки</div>
                                    <div class="btn item">Масла для ДВС</div>
                                    <div class="btn item">Жидкость для нейтрализации выхлопных газов AdBlue;</div>
                                    <div class="btn item">Масла для трансмиссий</div>
                                    <div class="btn item">Антифризы</div>
                                    <div class="btn item">Масла для навесного оборудования</div>
                                    <div class="btn item">Универсальные трансмиссионные масла для тракторной и строительной техники</div>
                                    <div class="btn item">Гидравлические жидкости</div>
                                    <div class="btn item">Жидкости для автоматических трансмиссий и ГУР спецтехники</div>
                                    <div class="btn item">Пожаробезопасные гидравлические жидкости;</div>
                                    <div class="btn item">Компрессионные масла</div>
                                </div>
                                <div class="show1" v-if="!mobile &amp;&amp; menu2show==5">
                                    <div class="head-text">Широкий выбор5</div>
                                    <div class="btn item">Специальные пластичные смазки</div>
                                    <div class="btn item">Масла для ДВС</div>
                                    <div class="btn item">Жидкость для нейтрализации выхлопных газов AdBlue;</div>
                                    <div class="btn item">Масла для трансмиссий</div>
                                    <div class="btn item">Антифризы</div>
                                    <div class="btn item">Масла для навесного оборудования</div>
                                    <div class="btn item">Универсальные трансмиссионные масла для тракторной и строительной техники</div>
                                    <div class="btn item">Гидравлические жидкости</div>
                                    <div class="btn item">Жидкости для автоматических трансмиссий и ГУР спецтехники</div>
                                    <div class="btn item">Пожаробезопасные гидравлические жидкости;</div>
                                    <div class="btn item">Компрессионные масла</div>
                                </div>
                                <div class="show1" v-if="!mobile &amp;&amp; menu2show==6">
                                    <div class="head-text">Широкий выбор</div>
                                    <div class="btn item">Специальные пластичные смазки</div>
                                    <div class="btn item">Масла для ДВС</div>
                                    <div class="btn item">Жидкость для нейтрализации выхлопных газов AdBlue;</div>
                                    <div class="btn item">Масла для трансмиссий</div>
                                    <div class="btn item">Антифризы</div>
                                    <div class="btn item">Масла для навесного оборудования</div>
                                    <div class="btn item">Универсальные трансмиссионные масла для тракторной и строительной техники</div>
                                    <div class="btn item">Гидравлические жидкости</div>
                                    <div class="btn item">Жидкости для автоматических трансмиссий и ГУР спецтехники</div>
                                    <div class="btn item">Пожаробезопасные гидравлические жидкости;</div>
                                    <div class="btn item">Компрессионные масла</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="main article">
                <div class="container m">
                    <div class="top-menu">
                        <div class="left"><a class="link" href="index.html">Главная</a><a class="link" href="company.html">О компании</a><a class="last-link" href="articles.html">Статья</a>
                        </div>
                        <div class="right"><a class="btn" href="">ВХОД ДЛЯ КЛИЕНТОВ  </a>
                        </div>
                    </div>
                </div>
                <section class="section1">
                    <div class="container">
                        <aside class="aside">
                            <div class="aside-menu">
                                <div class="item">Доставка</div>
                                <div class="item">Как сделать заказ</div>
                                <div class="item">Оптовые скидки</div>
                                <div class="item">Публичная оферта</div>
                                <div class="item">Политика конфидециальности</div>
                            </div>
                            <div class="aside-action">
                                <div class="head">Акции</div>
                                <div class="item">
                                    <div class="image image1"></div>
                                    <div class="text">
                                        <div class="t">Lorem ipsum dolor sit amet.</div>
                                        <div class="date">23 Мая, 2017</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="image image2"></div>
                                    <div class="text">
                                        <div class="t">Lorem ipsum dolor sit amet.</div>
                                        <div class="date">23 Мая, 2017</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="image image3"></div>
                                    <div class="text">
                                        <div class="t">Lorem ipsum dolor sit amet.</div>
                                        <div class="date">23 Мая, 2017</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="image image4"></div>
                                    <div class="text">
                                        <div class="t">Lorem ipsum dolor sit amet.</div>
                                        <div class="date">23 Мая, 2017</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="image image5"></div>
                                    <div class="text">
                                        <div class="t">Lorem ipsum dolor sit amet.</div>
                                        <div class="date">23 Мая, 2017</div>
                                    </div>
                                </div>
                            </div>
                            <div class="aside-scsr">
                                <div class="head">Подпишитесь</div>
                                <div class="text">Оформите подписку, чтобы оставаться в курсе новостей компании</div>
                                <input class="email" type="email" placeholder="Введите ваш E-mail:">
                                <div class="div">
                                    <p-check color="danger">Даю разрешение на обработку моих данных</p-check>
                                </div>
                                <div class="btn">ПОДПИСАТЬСЯ</div>
                            </div>
                        </aside>
                        <div class="content">
                            <div class="content-top">
                                <div class="head">
                                    <div class="h2">Discovering the World</div>
                                    <div class="date">Автор Авторович | 23 марта, 2017</div>
                                </div>
                                <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, beatae quae. Nam accusamus tenetur assumenda eum aperiam eos voluptatum distinctio enim doloremque est, voluptatem asperiores. Eligendi hic, reprehenderit
                                    praesentium dolor consequuntur autem quia quam et quis nulla nesciunt esse provident minima, animi sapiente qui nemo adipisci libero! Pariatur similique vero deleniti, consequatur iusto voluptate asperiores vitae illum
                                    provident, ab totam modi. Voluptas, suscipit rem magnam autem, eaque neque laborum! Et pariatur maiores sunt. Nobis voluptas fugit consectetur, maiores tempore et officia praesentium, perspiciatis nesciunt inventore
                                    culpa corporis suscipit, amet obcaecati iste rerum beatae reprehenderit. Natus pariatur ipsa, repellendus doloremque asperiores.</div>
                            </div>
                            <div class="content-main">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae nam voluptates in dolor doloribus omnis, nobis ut corporis dignissimos facilis iusto atque soluta veritatis assumenda nemo vero ipsa tempora non voluptatum
                                    mollitia facere veniam, officia velit natus. Distinctio perferendis nesciunt aliquam consequuntur sunt laboriosam, quidem doloremque. Ducimus accusantium expedita, necessitatibus.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto earum inventore doloribus qui, eius quia molestiae voluptatum, saepe, consequuntur sit tempore! Eos, fugiat laborum dolores tempore saepe doloribus laudantium
                                    quasi!100</p>
                                <p class="image">
                                    <img class="img" src="static/img/content/article.png">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur amet quasi quos molestiae praesentium voluptatibus deserunt sunt in, a temporibus, nihil illo iure, porro architecto, sequi nulla repellendus cumque
                                    dignissimos quisquam. Sed excepturi consequatur reprehenderit provident sunt voluptate quis, nemo laudantium aperiam velit et possimus aliquid, dolor praesentium temporibus accusamus quae voluptatum, similique numquam?
                                    Dolorum, obcaecati esse. Illo dignissimos consequuntur commodi. Mollitia impedit deserunt dolore doloremque, adipisci pariatur perspiciatis ad esse voluptas, temporibus, qui quia suscipit. Ex voluptates voluptatum reiciendis
                                    accusantium temporibus quisquam pariatur laboriosam nobis odio eius repellendus, delectus nam et repudiandae perferendis dolorum! Odio accusamus, aperiam est eum! Totam, facere, aspernatur. Totam saepe dolor doloremque
                                    laboriosam magni molestiae rem, non iste fuga necessitatibus voluptatem harum, perspiciatis neque? Laborum illo, beatae harum ut consequuntur ea incidunt animi, officia reiciendis, eos voluptatibus enim. Accusamus in
                                    rerum perferendis veritatis nesciunt asperiores sequi dolores cumque. Veniam modi laboriosam, iste inventore quis obcaecati nam suscipit consequatur accusantium, debitis mollitia ullam, assumenda voluptate soluta! Sequi
                                    eius officiis deleniti aut rem ducimus maxime id obcaecati sed et excepturi, incidunt quidem quam nemo provident nesciunt voluptates doloremque iste natus, itaque distinctio qui accusamus animi? Earum cum aperiam voluptatum
                                    harum consequuntur dolorum, aliquid reprehenderit dignissimos sunt autem!</p>
                                <div class="head">Lorem ipsum dolor sit amet.</div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad libero, labore corporis non, illo nostrum! Laboriosam temporibus recusandae dolorum tenetur soluta id odio dolorem quaerat blanditiis labore, deserunt earum assumenda
                                    nemo unde quasi, repudiandae, dicta autem aliquam et voluptas dolores suscipit pariatur, quis nesciunt? Quas, iste nisi, voluptates omnis porro nesciunt officia sint nostrum magnam atque dolore ducimus tempore commodi
                                    nemo fuga, eligendi veniam minus. Ipsum, praesentium, quibusdam. Ducimus excepturi quis distinctio. Quo sapiente porro explicabo in provident, numquam distinctio nisi harum cupiditate necessitatibus iusto a veniam quisquam
                                    corporis dolores officia laudantium optio ipsum, quia fugit ducimus eligendi nulla alias?</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque ipsa non doloribus fugit consequuntur unde ad quo ipsam quaerat perspiciatis odit vitae maxime a voluptate dolores nulla deleniti, voluptatem in ipsum reiciendis
                                    architecto sed. Sed libero sequi facilis doloremque provident consequatur dolore et cum accusantium dignissimos enim dolor velit, adipisci, distinctio debitis iste ab est modi neque, accusamus nostrum voluptate atque
                                    corporis vel perferendis! Architecto tempora odio veritatis, eaque ab voluptates non earum error quo fugit perspiciatis blanditiis ipsam maxime quidem reiciendis quia tenetur aperiam distinctio, ducimus accusantium
                                    perferendis aliquam natus ut. Facilis tempore consequatur ab, dolore voluptatibus error nemo!</p>
                                <div class="sub">
                                    <div class="sub-text">Поделиться</div>
                                    <div class="icon in"><i class="fab fa-instagram"></i>
                                    </div>
                                    <div class="icon tw"><i class="fab fa-twitter"></i>
                                    </div>
                                    <div class="icon fb"><i class="fab fa-facebook-f"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <footer class="footer">
                <div class="container">
                    <div class="top">
                        <div class="menus">
                            <div class="info">
                                <div class="logo"></div>
                            </div>
                            <div class="menu">
                                <div class="line"></div><a class="menu-item hover-red" href="#">Магазин</a><a class="menu-item hover-red" href="#">Партнерам</a><a class="menu-item hover-red" href="company.html">О компании</a><a class="menu-item hover-red" href="#">Команда</a>
                                <a
                                class="menu-item hover-red" href="#">Вакансии</a><a class="menu-item hover-red" href="reviews.html">Отзывы</a>
                            </div>
                            <div class="menu">
                                <div class="line"></div><a class="menu-item hover-red" href="#">Поддержка</a><a class="menu-item hover-red" href="#">Вопрос-Ответ</a><a class="menu-item hover-red" href="#">Новости</a><a class="menu-item hover-red" href="articles.html">Статьи</a>
                                <a
                                class="menu-item hover-red" href="contacts.html">Контакты</a><a class="menu-item hover-red" href="#">Сертификаты</a>
                            </div>
                        </div>
                        <div class="other">
                            <div class="info">
                                <div class="inform">
                                    <div>инн 123768999812397</div>
                                    <div>огрн 128971239176</div>
                                </div>
                            </div>
                            <div class="contact">
                                <div class="head">Как нас найти</div>
                                <div class="text">
                                    г. Москва, ул. 2-я Бухвостова, 17к1, оф. 165,
                                    <br>ежедневно с 10.00 до 19.00</div>
                            </div>
                            <div class="map"></div>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <div class="container">
                        <div class="bottom">
                            <div class="copy">&copy; JoyWin, 2018</div>
                            <div class="soc">
                                <div class="socl"><a class="vk link hover-red" href="#">Vkontakte</a><a class="fb link hover-red" href="#">Facebook</a><a class="in link hover-red" href="#">Instagram</a>
                                </div>
                                <div class="soc-totop" v-on:click="scrollToTop"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>


        <script src="static/js/mainl9ymzr.min.js"></script>
    </body>

</html>