<!DOCTYPE html>
<html class="no-js" lang="ru">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>default title</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="telephone=no" name="format-detection">
        <meta name="HandheldFriendly" content="true">
        <link rel="stylesheet" href="https://use.typekit.net/wds2vlt.css">

        <!--[if (gt IE 9)|!(IE)]><!-->
        <link href="static/css/mainzvll5.min.css" rel="stylesheet" type="text/css">
        <!--<![endif]-->
        <meta property="og:title" content="#{data.title}">
        <meta property="og:title" content="">
        <meta property="og:url" content="">
        <meta property="og:description" content="">
        <meta property="og:image" content="">
        <meta property="og:image:type" content="image/jpeg">
        <meta property="og:image:width" content="500">
        <meta property="og:image:height" content="300">
        <meta property="twitter:description" content="">
        <link rel="image_src" href="">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://unpkg.com/vue-select@latest"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
        <script src="https://cdn.jsdelivr.net/npm/pretty-checkbox-vue@1.1/dist/pretty-checkbox-vue.min.js"></script>
        <script src="https://nightcatsama.github.io/vue-slider-component/dist/index.js"></script>
        <script>
            (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)
        </script>
    </head>

    <body class="page">
        <div id="app">
            <header class="header">
                <div class="container">
                    <div class="header-menu1" v-on:click="openMenu1">
                        <div class="menu-left" id="menu1"></div>
                        <div class="menu-span">КАТАЛОГ</div>
                    </div>
                    <div class="logo"></div>
                    <div class="header-menu2" v-on:click="openMenu2">
                        <div class="menu-span">МЕНЮ</div>
                        <div class="menu-right">
                            <div class="menu"><span class="bar"></span>
                                <span class="bar"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-menu" id="menu2" v-if="m2">
                    <div class="close">
                        <div class="close_area" v-on:click="closeMenu">Закрыть
                            <div class="close_btn"><i class="fas fa-times"></i>
                            </div>
                        </div>
                    </div>
                    <div class="menu_big">
                        <div class="menu_content">
                            <a href="company.html"> <span>О компании</span>
                                <div class="link1 link"></div>
                            </a>
                            <a href="articles.html"> <span>Акции и новости</span>
                                <div class="link2 link"></div>
                            </a>
                            <a href="reviews.html"> <span>Отзывы</span>
                                <div class="link3 link"></div>
                            </a>
                            <a href="contacts.html"> <span>Контакты</span>
                                <div class="link4 link"></div>
                            </a>
                        </div>
                        <div class="menu_footer">
                            <div class="line1 line"><a href="">Наши магазины</a><a href="">Сертификаты и допуски</a><a href="">Отчеты о производственном тестировании</a><a href="">Поиск аналогов </a><a href="">Обратная связь</a>
                            </div>
                            <div class="line2 line">
                                <div class="socl">
                                    <div class="in soc"><i class="fab fa-instagram"></i>
                                    </div>
                                    <div class="vk soc"><i class="fab fa-vk"></i>
                                    </div>
                                    <div class="fb soc"><i class="fab fa-facebook-f"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="line3 line"><a href="">Политика Конфидициальности</a><a href="">Условия доставки</a><a href="">Гарантия и возврат</a><a href="">Стать дистрибьютером</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-menu katalog_menu" v-if="m1">
                    <div class="container">
                        <div class="close">
                            <div class="close_area" v-on:click="closeMenu">Закрыть
                                <div class="close_btn"><i class="fas fa-times"></i>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <div class="left">
                                <div class="btn item" v-on:mouseover="menu2show=1">
                                    <div class="text">Производство и машиностроение</div>
                                    <img class="bg" src="static/img/general/katalog_bg1.png">
                                    <div class="line"></div>
                                    <div class="box"></div>
                                </div>
                                <div class="btn item" v-on:mouseover="menu2show=2">
                                    <div class="text">Металлообработка</div>
                                    <img class="bg" src="static/img/general/katalog_bg1.png">
                                    <div class="line"></div>
                                    <div class="box"></div>
                                </div>
                                <div class="btn item" v-on:mouseover="menu2show=3">
                                    <div class="text">Пластичные смазки</div>
                                    <img class="bg" src="static/img/general/katalog_bg1.png">
                                    <div class="line"></div>
                                    <div class="box"></div>
                                </div>
                                <div class="btn item" v-on:mouseover="menu2show=4">
                                    <div class="text">Сельхозтехника</div>
                                    <img class="bg" src="static/img/general/katalog_bg1.png">
                                    <div class="line"></div>
                                    <div class="box"></div>
                                </div>
                                <div class="btn item" v-on:mouseover="menu2show=5">
                                    <div class="text">СТО</div>
                                    <img class="bg" src="static/img/general/katalog_bg1.png">
                                    <div class="line"></div>
                                    <div class="box"></div>
                                </div>
                                <div class="btn item" v-on:mouseover="menu2show=6">
                                    <div class="text">Транспорт, спецтехника, с/х техника</div>
                                    <div class="line"></div>
                                    <div class="box"></div>
                                </div>
                            </div>
                            <div class="right" v-if="menu2show&gt;0">
                                <div class="show1" v-if="menu2show==1">
                                    <div class="head-text">Широкий выбор1</div>
                                    <div class="btn item">Специальные пластичные смазки</div>
                                    <div class="btn item">Масла для ДВС</div>
                                    <div class="btn item">Жидкость для нейтрализации выхлопных газов AdBlue;</div>
                                    <div class="btn item">Масла для трансмиссий</div>
                                    <div class="btn item">Антифризы</div>
                                    <div class="btn item">Масла для навесного оборудования</div>
                                    <div class="btn item">Универсальные трансмиссионные масла для тракторной и строительной техники</div>
                                    <div class="btn item">Гидравлические жидкости</div>
                                    <div class="btn item">Жидкости для автоматических трансмиссий и ГУР спецтехники</div>
                                    <div class="btn item">Пожаробезопасные гидравлические жидкости;</div>
                                    <div class="btn item">Компрессионные масла</div>
                                </div>
                                <div class="show1" v-if="menu2show==2">
                                    <div class="head-text">Широкий выбор2</div>
                                    <div class="btn item">Специальные пластичные смазки</div>
                                    <div class="btn item">Масла для ДВС</div>
                                    <div class="btn item">Жидкость для нейтрализации выхлопных газов AdBlue;</div>
                                    <div class="btn item">Масла для трансмиссий</div>
                                    <div class="btn item">Антифризы</div>
                                    <div class="btn item">Масла для навесного оборудования</div>
                                    <div class="btn item">Универсальные трансмиссионные масла для тракторной и строительной техники</div>
                                    <div class="btn item">Гидравлические жидкости</div>
                                    <div class="btn item">Жидкости для автоматических трансмиссий и ГУР спецтехники</div>
                                    <div class="btn item">Пожаробезопасные гидравлические жидкости;</div>
                                    <div class="btn item">Компрессионные масла</div>
                                </div>
                                <div class="show1" v-if="menu2show==3">
                                    <div class="head-text">Широкий выбор3</div>
                                    <div class="btn item">Специальные пластичные смазки</div>
                                    <div class="btn item">Масла для ДВС</div>
                                    <div class="btn item">Жидкость для нейтрализации выхлопных газов AdBlue;</div>
                                    <div class="btn item">Масла для трансмиссий</div>
                                    <div class="btn item">Антифризы</div>
                                    <div class="btn item">Масла для навесного оборудования</div>
                                    <div class="btn item">Универсальные трансмиссионные масла для тракторной и строительной техники</div>
                                    <div class="btn item">Гидравлические жидкости</div>
                                    <div class="btn item">Жидкости для автоматических трансмиссий и ГУР спецтехники</div>
                                    <div class="btn item">Пожаробезопасные гидравлические жидкости;</div>
                                    <div class="btn item">Компрессионные масла</div>
                                </div>
                                <div class="show1" v-if="menu2show==4">
                                    <div class="head-text">Широкий выбор4</div>
                                    <div class="btn item">Специальные пластичные смазки</div>
                                    <div class="btn item">Масла для ДВС</div>
                                    <div class="btn item">Жидкость для нейтрализации выхлопных газов AdBlue;</div>
                                    <div class="btn item">Масла для трансмиссий</div>
                                    <div class="btn item">Антифризы</div>
                                    <div class="btn item">Масла для навесного оборудования</div>
                                    <div class="btn item">Универсальные трансмиссионные масла для тракторной и строительной техники</div>
                                    <div class="btn item">Гидравлические жидкости</div>
                                    <div class="btn item">Жидкости для автоматических трансмиссий и ГУР спецтехники</div>
                                    <div class="btn item">Пожаробезопасные гидравлические жидкости;</div>
                                    <div class="btn item">Компрессионные масла</div>
                                </div>
                                <div class="show1" v-if="menu2show==5">
                                    <div class="head-text">Широкий выбор5</div>
                                    <div class="btn item">Специальные пластичные смазки</div>
                                    <div class="btn item">Масла для ДВС</div>
                                    <div class="btn item">Жидкость для нейтрализации выхлопных газов AdBlue;</div>
                                    <div class="btn item">Масла для трансмиссий</div>
                                    <div class="btn item">Антифризы</div>
                                    <div class="btn item">Масла для навесного оборудования</div>
                                    <div class="btn item">Универсальные трансмиссионные масла для тракторной и строительной техники</div>
                                    <div class="btn item">Гидравлические жидкости</div>
                                    <div class="btn item">Жидкости для автоматических трансмиссий и ГУР спецтехники</div>
                                    <div class="btn item">Пожаробезопасные гидравлические жидкости;</div>
                                    <div class="btn item">Компрессионные масла</div>
                                </div>
                                <div class="show1" v-if="menu2show==6">
                                    <div class="head-text">Широкий выбор</div>
                                    <div class="btn item">Специальные пластичные смазки</div>
                                    <div class="btn item">Масла для ДВС</div>
                                    <div class="btn item">Жидкость для нейтрализации выхлопных газов AdBlue;</div>
                                    <div class="btn item">Масла для трансмиссий</div>
                                    <div class="btn item">Антифризы</div>
                                    <div class="btn item">Масла для навесного оборудования</div>
                                    <div class="btn item">Универсальные трансмиссионные масла для тракторной и строительной техники</div>
                                    <div class="btn item">Гидравлические жидкости</div>
                                    <div class="btn item">Жидкости для автоматических трансмиссий и ГУР спецтехники</div>
                                    <div class="btn item">Пожаробезопасные гидравлические жидкости;</div>
                                    <div class="btn item">Компрессионные масла</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="main basket">
                <div class="container m">
                    <div class="top-menu">
                        <div class="left"><a class="link" href="index.html">Главная</a><a class="link" href="company.html">О компании</a><a class="last-link" href="articles.html">Корзина</a>
                        </div>
                        <div class="right"><a class="btn" href="">ВХОД ДЛЯ КЛИЕНТОВ  </a>
                        </div>
                    </div>
                    <h2 class="top-header-text">Корзина</h2>
                </div>
                <section class="section1 wsection">
                    <div class="container">
                        <div class="zakaz_head">Ваш заказ</div>
                        <div class="table">
                            <div class="table-head">
                                <div class="cell30 cell">Товар и тип фасовки</div>
                                <div class="cell20 cell">Цена партнера</div>
                                <div class="cell20 cell">Количество</div>
                                <div class="cell20 cell">Сумма заказа</div>
                                <div class="cell10 cell"></div>
                            </div>
                            <div class="table-content">
                                <div class="table-row">
                                    <div class="cell30 cell">
                                        <img class="image" src="static/img/general/basket1.png">
                                        <div class="text">
                                            <div class="head">
                                                Гидравлическое масло
                                                <br>KATANA KISSAKI CLP 68</div>
                                            <div class="subhead">Ведро 20 л</div>
                                        </div>
                                    </div>
                                    <div class="cell20 cell">
                                        <div class="num">24 000 P</div>
                                    </div>
                                    <div class="cell20 cell">
                                        <div class="form">
                                            <div class="i minus">-</div>
                                            <div class="n">123</div>
                                            <div class="i plus">+</div>
                                        </div>
                                    </div>
                                    <div class="cell20 cell">
                                        <div class="num">24 000 P</div>
                                    </div>
                                    <div class="cell10 cell">
                                        <div class="close"></div>
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="cell30 cell">
                                        <img class="image" src="static/img/general/basket1.png">
                                        <div class="text">
                                            <div class="head">
                                                Гидравлическое масло
                                                <br>KATANA KISSAKI CLP 68</div>
                                            <div class="subhead">Ведро 20 л</div>
                                        </div>
                                    </div>
                                    <div class="cell20 cell">
                                        <div class="num">24 000 P</div>
                                    </div>
                                    <div class="cell20 cell">
                                        <div class="form">
                                            <div class="i minus">-</div>
                                            <div class="n">123</div>
                                            <div class="i plus">+</div>
                                        </div>
                                    </div>
                                    <div class="cell20 cell">
                                        <div class="num">24 000 P</div>
                                    </div>
                                    <div class="cell10 cell">
                                        <div class="close"></div>
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="cell30 cell">
                                        <img class="image" src="static/img/general/basket1.png">
                                        <div class="text">
                                            <div class="head">
                                                Гидравлическое масло
                                                <br>KATANA KISSAKI CLP 68</div>
                                            <div class="subhead">Ведро 20 л</div>
                                        </div>
                                    </div>
                                    <div class="cell20 cell">
                                        <div class="num">24 000 P</div>
                                    </div>
                                    <div class="cell20 cell">
                                        <div class="form">
                                            <div class="i minus">-</div>
                                            <div class="n">123</div>
                                            <div class="i plus">+</div>
                                        </div>
                                    </div>
                                    <div class="cell20 cell">
                                        <div class="num">24 000 P</div>
                                    </div>
                                    <div class="cell10 cell">
                                        <div class="close"></div>
                                    </div>
                                </div>
                                <div class="table-row">
                                    <div class="cell30 cell">
                                        <img class="image" src="static/img/general/basket1.png">
                                        <div class="text">
                                            <div class="head">
                                                Гидравлическое масло
                                                <br>KATANA KISSAKI CLP 68</div>
                                            <div class="subhead">Ведро 20 л</div>
                                        </div>
                                    </div>
                                    <div class="cell20 cell">
                                        <div class="num">24 000 P</div>
                                    </div>
                                    <div class="cell20 cell">
                                        <div class="form">
                                            <div class="i minus">-</div>
                                            <div class="n">123</div>
                                            <div class="i plus">+</div>
                                        </div>
                                    </div>
                                    <div class="cell20 cell">
                                        <div class="num">24 000 P</div>
                                    </div>
                                    <div class="cell10 cell">
                                        <div class="close"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="send_to_email before_red_sh">
                            <div class="send">
                                <div class="head">Отправить список товаров себе на почту</div>
                                <div class="form">
                                    <input class="email" type="email" placeholder="Введите ваше E-mail:">
                                    <div class="subsc-btn">Отправить</div>
                                </div>
                            </div>
                            <div class="sum">
                                <div class="line">
                                    <div class="text1">Количество товаров:</div>
                                    <div class="text2">6 шт.</div>
                                </div>
                                <div class="line">
                                    <div class="text1">Общая стоимость товаров:</div>
                                    <div class="text2">48 870 р</div>
                                </div>
                                <div class="line">
                                    <div class="text1">Скидка партнера:</div>
                                    <div class="text2">12 000 р</div>
                                </div>
                                <div class="line">
                                    <div class="text1 big">Итого к оплате:</div>
                                    <div class="text2 big red">48 870 р</div>
                                </div>
                            </div>
                        </div>
                        <div class="send2 before_red_sh">
                            <div class="send">
                                <div class="head">Оформить заказ у менеджера</div>
                            </div>
                            <div class="form">
                                <div class="left">
                                    <input type="text" placeholder="Название компании или Имя:">
                                    <input type="email" placeholder="E-mail:">
                                    <input type="text" placeholder="Город:">
                                    <input type="text" placeholder="Адрес доставки:">
                                </div>
                                <div class="right">
                                    <input type="number" placeholder="ИНН:">
                                    <input type="tel" placeholder="Телефон для связи:">
                                    <textarea placeholder="Комментарии к заказу:"></textarea>
                                </div>
                            </div>
                            <div class="btn">Отправить</div>
                        </div>
                    </div>
                </section>
            </div>
            <footer class="footer">
                <div class="container">
                    <div class="top">
                        <div class="menus">
                            <div class="info">
                                <div class="logo"></div>
                            </div>
                            <div class="menu">
                                <div class="line"></div><a class="menu-item hover-red" href="#">Магазин</a><a class="menu-item hover-red" href="#">Партнерам</a><a class="menu-item hover-red" href="company.html">О компании</a><a class="menu-item hover-red" href="#">Команда</a>
                                <a
                                class="menu-item hover-red" href="#">Вакансии</a><a class="menu-item hover-red" href="reviews.html">Отзывы</a>
                            </div>
                            <div class="menu">
                                <div class="line"></div><a class="menu-item hover-red" href="#">Поддержка</a><a class="menu-item hover-red" href="#">Вопрос-Ответ</a><a class="menu-item hover-red" href="#">Новости</a><a class="menu-item hover-red" href="articles.html">Статьи</a>
                                <a
                                class="menu-item hover-red" href="contacts.html">Контакты</a><a class="menu-item hover-red" href="#">Сертификаты</a>
                            </div>
                        </div>
                        <div class="other">
                            <div class="info">
                                <div class="inform">
                                    <div>инн 123768999812397</div>
                                    <div>огрн 128971239176</div>
                                </div>
                            </div>
                            <div class="contact">
                                <div class="head">Как нас найти</div>
                                <div class="text">
                                    г. Москва, ул. 2-я Бухвостова, 17к1, оф. 165,
                                    <br>ежедневно с 10.00 до 19.00</div>
                            </div>
                            <div class="map"></div>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <div class="container">
                        <div class="bottom">
                            <div class="copy">&copy; JoyWin, 2018</div>
                            <div class="soc">
                                <div class="socl"><a class="vk link hover-red" href="#">Vkontakte</a><a class="fb link hover-red" href="#">Facebook</a><a class="in link hover-red" href="#">Instagram</a>
                                </div>
                                <div class="soc-totop" v-on:click="scrollToTop"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>


        <script src="static/js/mainzvll5.min.js"></script>
    </body>

</html>