<!DOCTYPE html>
<html class="no-js" lang="ru">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>default title</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="telephone=no" name="format-detection">
        <meta name="HandheldFriendly" content="true">

        <!--[if (gt IE 9)|!(IE)]><!-->
        <link href="static/css/mainjsocz.min.css" rel="stylesheet" type="text/css">
        <!--<![endif]-->
        <meta property="og:title" content="#{data.title}">
        <meta property="og:title" content="">
        <meta property="og:url" content="">
        <meta property="og:description" content="">
        <meta property="og:image" content="">
        <meta property="og:image:type" content="image/jpeg">
        <meta property="og:image:width" content="500">
        <meta property="og:image:height" content="300">
        <meta property="twitter:description" content="">
        <link rel="image_src" href="">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://unpkg.com/vue-select@latest"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
        <script src="https://cdn.jsdelivr.net/npm/pretty-checkbox-vue@1.1/dist/pretty-checkbox-vue.min.js"></script>
        <script src="https://nightcatsama.github.io/vue-slider-component/dist/index.js"></script>
        <script>
            (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)
        </script>
    </head>

    <body class="page">
        <div id="app">
            <header class="header">
                <div class="container">
                    <div class="header-menu1" v-on:click="openMenu1">
                        <div class="menu-left" id="menu1"></div>
                        <div class="menu-span">КАТАЛОГ</div>
                    </div>
                    <div class="logo"></div>
                    <div class="header-menu2" v-on:click="openMenu2">
                        <div class="menu-span">МЕНЮ</div>
                        <div class="menu-right">
                            <div class="menu"><span class="bar"></span>
                                <span class="bar"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-menu" id="menu2" v-if="m2">
                    <div class="close">
                        <div class="close_area" v-on:click="closeMenu">Закрыть
                            <div class="close_btn"><i class="fas fa-times"></i>
                            </div>
                        </div>
                    </div>
                    <div class="menu_big">
                        <div class="menu_content">
                            <a href="company.html"> <span>О компании</span>
                                <div class="link1 link"></div>
                            </a>
                            <a href="articles.html"> <span>Акции и новости</span>
                                <div class="link2 link"></div>
                            </a>
                            <a href="reviews.html"> <span>Отзывы</span>
                                <div class="link3 link"></div>
                            </a>
                            <a href="contacts.html"> <span>Контакты</span>
                                <div class="link4 link"></div>
                            </a>
                        </div>
                        <div class="menu_footer">
                            <div class="line1 line"><a href="">Наши магазины</a><a href="">Сертификаты и допуски</a><a href="">Отчеты о производственном тестировании</a><a href="">Поиск аналогов </a><a href="">Обратная связь</a>
                            </div>
                            <div class="line2 line">
                                <div class="socl">
                                    <div class="in soc"><i class="fab fa-instagram"></i>
                                    </div>
                                    <div class="vk soc"><i class="fab fa-vk"></i>
                                    </div>
                                    <div class="fb soc"><i class="fab fa-facebook-f"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="line3 line"><a href="">Политика Конфидициальности</a><a href="">Условия доставки</a><a href="">Гарантия и возврат</a><a href="">Стать дистрибьютером</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-menu katalog_menu" v-if="m1">
                    <div class="container">
                        <div class="close">
                            <div class="close_area" v-on:click="closeMenu">Закрыть
                                <div class="close_btn"><i class="fas fa-times"></i>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <div class="left">
                                <div class="btn item" v-on:mouseover="menu2show=1" v-on:click="menu2show=(menu2show==1)?0:1">
                                    <div class="text">Производство и машиностроение</div>
                                    <img class="bg" src="static/img/general/katalog_bg1.png">
                                    <div class="line" v-if="menu2show==1"></div>
                                    <div class="box" v-if="menu2show==1"></div>
                                </div>
                                <div class="show1" v-if="mobile &amp;&amp; menu2show==1">
                                    <div class="head-text">Широкий выбор1</div>
                                    <div class="btn item">Специальные пластичные смазки</div>
                                    <div class="btn item">Масла для ДВС</div>
                                    <div class="btn item">Жидкость для нейтрализации выхлопных газов AdBlue;</div>
                                    <div class="btn item">Масла для трансмиссий</div>
                                    <div class="btn item">Антифризы</div>
                                    <div class="btn item">Масла для навесного оборудования</div>
                                    <div class="btn item">Универсальные трансмиссионные масла для тракторной и строительной техники</div>
                                    <div class="btn item">Гидравлические жидкости</div>
                                    <div class="btn item">Жидкости для автоматических трансмиссий и ГУР спецтехники</div>
                                    <div class="btn item">Пожаробезопасные гидравлические жидкости;</div>
                                    <div class="btn item">Компрессионные масла</div>
                                </div>
                                <div class="btn item" v-on:mouseover="menu2show=2" v-on:click="menu2show=(menu2show==2)?0:2">
                                    <div class="text">Металлообработка</div>
                                    <img class="bg" src="static/img/general/katalog_bg1.png">
                                    <div class="line" v-if="menu2show==2"></div>
                                    <div class="box" v-if="menu2show==2"></div>
                                </div>
                                <div class="show1" v-if="mobile &amp;&amp; menu2show==2">
                                    <div class="head-text">Широкий выбор1</div>
                                    <div class="btn item">Специальные пластичные смазки</div>
                                    <div class="btn item">Масла для ДВС</div>
                                    <div class="btn item">Жидкость для нейтрализации выхлопных газов AdBlue;</div>
                                    <div class="btn item">Масла для трансмиссий</div>
                                    <div class="btn item">Антифризы</div>
                                    <div class="btn item">Масла для навесного оборудования</div>
                                    <div class="btn item">Универсальные трансмиссионные масла для тракторной и строительной техники</div>
                                    <div class="btn item">Гидравлические жидкости</div>
                                    <div class="btn item">Жидкости для автоматических трансмиссий и ГУР спецтехники</div>
                                    <div class="btn item">Пожаробезопасные гидравлические жидкости;</div>
                                    <div class="btn item">Компрессионные масла</div>
                                </div>
                                <div class="btn item" v-on:mouseover="menu2show=3" v-on:click="menu2show=(menu2show==3)?0:3">
                                    <div class="text">Пластичные смазки</div>
                                    <img class="bg" src="static/img/general/katalog_bg1.png">
                                    <div class="line" v-if="menu2show==3"></div>
                                    <div class="box" v-if="menu2show==3"></div>
                                </div>
                                <div class="show1" v-if="mobile &amp;&amp; menu2show==3">
                                    <div class="head-text">Широкий выбор1</div>
                                    <div class="btn item">Специальные пластичные смазки</div>
                                    <div class="btn item">Масла для ДВС</div>
                                    <div class="btn item">Жидкость для нейтрализации выхлопных газов AdBlue;</div>
                                    <div class="btn item">Масла для трансмиссий</div>
                                    <div class="btn item">Антифризы</div>
                                    <div class="btn item">Масла для навесного оборудования</div>
                                    <div class="btn item">Универсальные трансмиссионные масла для тракторной и строительной техники</div>
                                    <div class="btn item">Гидравлические жидкости</div>
                                    <div class="btn item">Жидкости для автоматических трансмиссий и ГУР спецтехники</div>
                                    <div class="btn item">Пожаробезопасные гидравлические жидкости;</div>
                                    <div class="btn item">Компрессионные масла</div>
                                </div>
                                <div class="btn item" v-on:mouseover="menu2show=4" v-on:click="menu2show=(menu2show==4)?0:4">
                                    <div class="text">Сельхозтехника</div>
                                    <img class="bg" src="static/img/general/katalog_bg1.png">
                                    <div class="line" v-if="menu2show==4"></div>
                                    <div class="box" v-if="menu2show==4"></div>
                                </div>
                                <div class="show1" v-if="mobile &amp;&amp; menu2show==4">
                                    <div class="head-text">Широкий выбор1</div>
                                    <div class="btn item">Специальные пластичные смазки</div>
                                    <div class="btn item">Масла для ДВС</div>
                                    <div class="btn item">Жидкость для нейтрализации выхлопных газов AdBlue;</div>
                                    <div class="btn item">Масла для трансмиссий</div>
                                    <div class="btn item">Антифризы</div>
                                    <div class="btn item">Масла для навесного оборудования</div>
                                    <div class="btn item">Универсальные трансмиссионные масла для тракторной и строительной техники</div>
                                    <div class="btn item">Гидравлические жидкости</div>
                                    <div class="btn item">Жидкости для автоматических трансмиссий и ГУР спецтехники</div>
                                    <div class="btn item">Пожаробезопасные гидравлические жидкости;</div>
                                    <div class="btn item">Компрессионные масла</div>
                                </div>
                                <div class="btn item" v-on:mouseover="menu2show=5" v-on:click="menu2show=(menu2show==5)?0:5">
                                    <div class="text">СТО</div>
                                    <img class="bg" src="static/img/general/katalog_bg1.png">
                                    <div class="line" v-if="menu2show==5"></div>
                                    <div class="box" v-if="menu2show==5"></div>
                                </div>
                                <div class="show1" v-if="mobile &amp;&amp; menu2show==5">
                                    <div class="head-text">Широкий выбор1</div>
                                    <div class="btn item">Специальные пластичные смазки</div>
                                    <div class="btn item">Масла для ДВС</div>
                                    <div class="btn item">Жидкость для нейтрализации выхлопных газов AdBlue;</div>
                                    <div class="btn item">Масла для трансмиссий</div>
                                    <div class="btn item">Антифризы</div>
                                    <div class="btn item">Масла для навесного оборудования</div>
                                    <div class="btn item">Универсальные трансмиссионные масла для тракторной и строительной техники</div>
                                    <div class="btn item">Гидравлические жидкости</div>
                                    <div class="btn item">Жидкости для автоматических трансмиссий и ГУР спецтехники</div>
                                    <div class="btn item">Пожаробезопасные гидравлические жидкости;</div>
                                    <div class="btn item">Компрессионные масла</div>
                                </div>
                                <div class="btn item" v-on:mouseover="menu2show=6" v-on:click="menu2show=(menu2show==6)?0:6">
                                    <div class="text">Транспорт, спецтехника, с/х техника</div>
                                    <div class="line" v-if="menu2show==6"></div>
                                    <div class="box" v-if="menu2show==6"></div>
                                </div>
                                <div class="show1" v-if="mobile &amp;&amp; menu2show==6">
                                    <div class="head-text">Широкий выбор1</div>
                                    <div class="btn item">Специальные пластичные смазки</div>
                                    <div class="btn item">Масла для ДВС</div>
                                    <div class="btn item">Жидкость для нейтрализации выхлопных газов AdBlue;</div>
                                    <div class="btn item">Масла для трансмиссий</div>
                                    <div class="btn item">Антифризы</div>
                                    <div class="btn item">Масла для навесного оборудования</div>
                                    <div class="btn item">Универсальные трансмиссионные масла для тракторной и строительной техники</div>
                                    <div class="btn item">Гидравлические жидкости</div>
                                    <div class="btn item">Жидкости для автоматических трансмиссий и ГУР спецтехники</div>
                                    <div class="btn item">Пожаробезопасные гидравлические жидкости;</div>
                                    <div class="btn item">Компрессионные масла</div>
                                </div>
                            </div>
                            <div class="right" v-if="menu2show&gt;0 &amp;&amp; !mobile">
                                <div class="show1" v-if="!mobile &amp;&amp; menu2show==1">
                                    <div class="head-text">Широкий выбор1</div>
                                    <div class="btn item">Специальные пластичные смазки</div>
                                    <div class="btn item">Масла для ДВС</div>
                                    <div class="btn item">Жидкость для нейтрализации выхлопных газов AdBlue;</div>
                                    <div class="btn item">Масла для трансмиссий</div>
                                    <div class="btn item">Антифризы</div>
                                    <div class="btn item">Масла для навесного оборудования</div>
                                    <div class="btn item">Универсальные трансмиссионные масла для тракторной и строительной техники</div>
                                    <div class="btn item">Гидравлические жидкости</div>
                                    <div class="btn item">Жидкости для автоматических трансмиссий и ГУР спецтехники</div>
                                    <div class="btn item">Пожаробезопасные гидравлические жидкости;</div>
                                    <div class="btn item">Компрессионные масла</div>
                                </div>
                                <div class="show1" v-if="!mobile &amp;&amp; menu2show==2">
                                    <div class="head-text">Широкий выбор2</div>
                                    <div class="btn item">Специальные пластичные смазки</div>
                                    <div class="btn item">Масла для ДВС</div>
                                    <div class="btn item">Жидкость для нейтрализации выхлопных газов AdBlue;</div>
                                    <div class="btn item">Масла для трансмиссий</div>
                                    <div class="btn item">Антифризы</div>
                                    <div class="btn item">Масла для навесного оборудования</div>
                                    <div class="btn item">Универсальные трансмиссионные масла для тракторной и строительной техники</div>
                                    <div class="btn item">Гидравлические жидкости</div>
                                    <div class="btn item">Жидкости для автоматических трансмиссий и ГУР спецтехники</div>
                                    <div class="btn item">Пожаробезопасные гидравлические жидкости;</div>
                                    <div class="btn item">Компрессионные масла</div>
                                </div>
                                <div class="show1" v-if="!mobile &amp;&amp; menu2show==3">
                                    <div class="head-text">Широкий выбор3</div>
                                    <div class="btn item">Специальные пластичные смазки</div>
                                    <div class="btn item">Масла для ДВС</div>
                                    <div class="btn item">Жидкость для нейтрализации выхлопных газов AdBlue;</div>
                                    <div class="btn item">Масла для трансмиссий</div>
                                    <div class="btn item">Антифризы</div>
                                    <div class="btn item">Масла для навесного оборудования</div>
                                    <div class="btn item">Универсальные трансмиссионные масла для тракторной и строительной техники</div>
                                    <div class="btn item">Гидравлические жидкости</div>
                                    <div class="btn item">Жидкости для автоматических трансмиссий и ГУР спецтехники</div>
                                    <div class="btn item">Пожаробезопасные гидравлические жидкости;</div>
                                    <div class="btn item">Компрессионные масла</div>
                                </div>
                                <div class="show1" v-if="!mobile &amp;&amp; menu2show==4">
                                    <div class="head-text">Широкий выбор4</div>
                                    <div class="btn item">Специальные пластичные смазки</div>
                                    <div class="btn item">Масла для ДВС</div>
                                    <div class="btn item">Жидкость для нейтрализации выхлопных газов AdBlue;</div>
                                    <div class="btn item">Масла для трансмиссий</div>
                                    <div class="btn item">Антифризы</div>
                                    <div class="btn item">Масла для навесного оборудования</div>
                                    <div class="btn item">Универсальные трансмиссионные масла для тракторной и строительной техники</div>
                                    <div class="btn item">Гидравлические жидкости</div>
                                    <div class="btn item">Жидкости для автоматических трансмиссий и ГУР спецтехники</div>
                                    <div class="btn item">Пожаробезопасные гидравлические жидкости;</div>
                                    <div class="btn item">Компрессионные масла</div>
                                </div>
                                <div class="show1" v-if="!mobile &amp;&amp; menu2show==5">
                                    <div class="head-text">Широкий выбор5</div>
                                    <div class="btn item">Специальные пластичные смазки</div>
                                    <div class="btn item">Масла для ДВС</div>
                                    <div class="btn item">Жидкость для нейтрализации выхлопных газов AdBlue;</div>
                                    <div class="btn item">Масла для трансмиссий</div>
                                    <div class="btn item">Антифризы</div>
                                    <div class="btn item">Масла для навесного оборудования</div>
                                    <div class="btn item">Универсальные трансмиссионные масла для тракторной и строительной техники</div>
                                    <div class="btn item">Гидравлические жидкости</div>
                                    <div class="btn item">Жидкости для автоматических трансмиссий и ГУР спецтехники</div>
                                    <div class="btn item">Пожаробезопасные гидравлические жидкости;</div>
                                    <div class="btn item">Компрессионные масла</div>
                                </div>
                                <div class="show1" v-if="!mobile &amp;&amp; menu2show==6">
                                    <div class="head-text">Широкий выбор</div>
                                    <div class="btn item">Специальные пластичные смазки</div>
                                    <div class="btn item">Масла для ДВС</div>
                                    <div class="btn item">Жидкость для нейтрализации выхлопных газов AdBlue;</div>
                                    <div class="btn item">Масла для трансмиссий</div>
                                    <div class="btn item">Антифризы</div>
                                    <div class="btn item">Масла для навесного оборудования</div>
                                    <div class="btn item">Универсальные трансмиссионные масла для тракторной и строительной техники</div>
                                    <div class="btn item">Гидравлические жидкости</div>
                                    <div class="btn item">Жидкости для автоматических трансмиссий и ГУР спецтехники</div>
                                    <div class="btn item">Пожаробезопасные гидравлические жидкости;</div>
                                    <div class="btn item">Компрессионные масла</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="main company">
                <div class="container m">
                    <div class="top-menu">
                        <div class="left"><a class="link" href="index.html">Главная</a><a class="link" href="company.html">О компании</a><a class="last-link" href="articles.html">Отзывы</a>
                        </div>
                        <div class="right"><a class="btn" href="">ВХОД ДЛЯ КЛИЕНТОВ  </a>
                        </div>
                    </div>
                    <h2 class="top-header-text"> 
            <div class="t">Компания Katana</div><img class="image" src="static/img/content/company.png">
          </h2>
                </div>
                <section class="section1 wsection">
                    <div class="container">
                        <div class="text">x Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem numquam asperiores fuga nostrum. Mollitia, pariatur. Laboriosam vitae vero, voluptates minus deserunt id veniam, neque facilis vel provident minima, esse asperiores
                            laudantium labore. Dolore sunt esse aspernatur laudantium ducimus suscipit iusto earum quo veritatis nemo impedit voluptate, odit, dolorum voluptates cupiditate cumque animi. Quidem natus perspiciatis vero, odio dignissimos
                            eveniet culpa! Aperiam nihil, fuga quis quam eligendi fugiat nam esse! Officiis suscipit natus incidunt dolorem veritatis eligendi earum consequatur, debitis, magni inventore atque enim sed est placeat. Dignissimos cumque facilis
                            libero, eveniet harum a illum maiores ducimus recusandae suscipit nobis sunt! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem numquam asperiores fuga nostrum. Mollitia, pariatur. Laboriosam vitae vero, voluptates
                            minus deserunt id veniam, neque facilis vel provident minima, esse asperiores laudantium labore. Dolore sunt esse aspernatur laudantium ducimus suscipit iusto earum quo veritatis n</div>
                    </div>
                </section>
                <section class="section2">
                    <div class="container prem">
                        <h2 class="h2">У нас много преимуществ</h2>
                        <div class="items">
                            <div class="item">
                                <div class="icon icon1"></div>
                                <div class="head">Более 300 наименований</div>
                                <div class="text">Широкий выбор масел и смазочных жидкостей</div>
                            </div>
                            <div class="item">
                                <div class="icon icon2"></div>
                                <div class="head">Рассрочка искидки партнерам</div>
                                <div class="text">Гибкая система скидок и возможность рассрочки</div>
                            </div>
                            <div class="item">
                                <div class="icon icon3"></div>
                                <div class="head">Технические консультации</div>
                                <div class="text">Консультации, презентации и обучающие семинары</div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section3">
                    <div class="container">
                        <div class="req">
                            <div class="head">Реквизиты:</div>
                            <div class="content">
                                <p>ООО "Компания ПМА"</p>
                                <p>ИНН: 7813560160</p>
                                <p>КПП: 781301001</p>
                                <p>ОГРН: 1137847142784</p>
                                <p>Юридический адрес: 197198, г.Санкт-Петербург, ул. Большая</p>
                                <p>Пушкарская 20, лит. А, помещение 22Н</p>
                                <p>Банк: ОАО «Энергомашбанк»</p>
                                <p>Р/с: 40702810001070052759</p>
                                <p>К/с: 30101810700000000754</p>
                                <p>БИК: 044030754</p>
                            </div>
                        </div>
                        <div class="message">
                            <div class="head">Задать вопрос:</div>
                            <div class="form">
                                <input class="tel" type="tel" placeholder="Ваш телефон:">
                                <input class="name" type="text" placeholder="Имя:">
                                <input class="tel" type="text" placeholder="Сообщение:">
                                <div class="btn">ОТПРАВИТЬ ВОПРОС</div>
                                <div class="input">
                                    <p-check color="danger">Ознакомлен с Политикой конфиденциальности и даю согласие на обработку ПД.</p-check>
                                </div>
                                <div class="input">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="23px" height="28px">
                                        <path fill-rule="evenodd" troke-width="1px" stroke="rgb(218, 8, 18)" fill-opacity="0" fill="rgb(218, 8, 18)" d="M6.500,12.500 L16.500,12.500 C18.157,12.500 19.500,13.843 19.500,15.500 L19.500,21.500 C19.500,23.157 18.157,24.500 16.500,24.500 L6.500,24.500 C4.843,24.500 3.500,23.157 3.500,21.500 L3.500,15.500 C3.500,13.843 4.843,12.500 6.500,12.500 Z"
                                        />
                                        <path fill-rule="evenodd" stroke-width="1px" stroke="rgb(218, 8, 18)" fill-opacity="0" fill="rgb(218, 8, 18)" d="M10.500,3.500 L12.500,3.500 C15.261,3.500 17.500,5.738 17.500,8.500 L17.500,13.500 L5.500,13.500 L5.500,8.500 C5.500,5.738 7.738,3.500 10.500,3.500 Z"
                                        />
                                        <path fill-rule="evenodd" stroke-width="1px" stroke="rgb(218, 8, 18)" fill-opacity="0" fill="rgb(218, 8, 18)" d="M11.500,16.500 C12.604,16.500 13.500,17.395 13.500,18.500 C13.500,19.604 12.604,20.500 11.500,20.500 C10.395,20.500 9.500,19.604 9.500,18.500 C9.500,17.395 10.395,16.500 11.500,16.500 Z"
                                        />
                                    </svg> <span> Ваши личные данные охраняются Законом РФ.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <footer class="footer">
                <div class="container">
                    <div class="top">
                        <div class="menus">
                            <div class="info">
                                <div class="logo"></div>
                            </div>
                            <div class="menu">
                                <div class="line"></div><a class="menu-item hover-red" href="#">Магазин</a><a class="menu-item hover-red" href="#">Партнерам</a><a class="menu-item hover-red" href="company.html">О компании</a><a class="menu-item hover-red" href="#">Команда</a>
                                <a
                                class="menu-item hover-red" href="#">Вакансии</a><a class="menu-item hover-red" href="reviews.html">Отзывы</a>
                            </div>
                            <div class="menu">
                                <div class="line"></div><a class="menu-item hover-red" href="#">Поддержка</a><a class="menu-item hover-red" href="#">Вопрос-Ответ</a><a class="menu-item hover-red" href="#">Новости</a><a class="menu-item hover-red" href="articles.html">Статьи</a>
                                <a
                                class="menu-item hover-red" href="contacts.html">Контакты</a><a class="menu-item hover-red" href="#">Сертификаты</a>
                            </div>
                        </div>
                        <div class="other">
                            <div class="info">
                                <div class="inform">
                                    <div>инн 123768999812397</div>
                                    <div>огрн 128971239176</div>
                                </div>
                            </div>
                            <div class="contact">
                                <div class="head">Как нас найти</div>
                                <div class="text">
                                    г. Москва, ул. 2-я Бухвостова, 17к1, оф. 165,
                                    <br>ежедневно с 10.00 до 19.00</div>
                            </div>
                            <div class="map"></div>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <div class="container">
                        <div class="bottom">
                            <div class="copy">&copy; JoyWin, 2018</div>
                            <div class="soc">
                                <div class="socl"><a class="vk link hover-red" href="#">Vkontakte</a><a class="fb link hover-red" href="#">Facebook</a><a class="in link hover-red" href="#">Instagram</a>
                                </div>
                                <div class="soc-totop" v-on:click="scrollToTop"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>


        <script src="static/js/mainjsocz.min.js"></script>
    </body>

</html>