<!DOCTYPE html>
<html class="no-js" lang="ru">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>default title</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="telephone=no" name="format-detection">
        <meta name="HandheldFriendly" content="true">
        <link rel="stylesheet" href="https://use.typekit.net/wds2vlt.css">

        <!--[if (gt IE 9)|!(IE)]><!-->
        <link href="static/css/main44twqmvgdvswdj5ah5mi.min.css" rel="stylesheet" type="text/css">
        <!--<![endif]-->
        <meta property="og:title" content="#{data.title}">
        <meta property="og:title" content="">
        <meta property="og:url" content="">
        <meta property="og:description" content="">
        <meta property="og:image" content="">
        <meta property="og:image:type" content="image/jpeg">
        <meta property="og:image:width" content="500">
        <meta property="og:image:height" content="300">
        <meta property="twitter:description" content="">
        <link rel="image_src" href="">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://unpkg.com/vue-select@latest"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
        <script src="https://cdn.jsdelivr.net/npm/pretty-checkbox-vue@1.1/dist/pretty-checkbox-vue.min.js"></script>
        <script src="https://nightcatsama.github.io/vue-slider-component/dist/index.js"></script>
        <script>
            (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)
        </script>
    </head>

    <body class="page">
        <div id="app">
            <header class="header">
                <div class="container">
                    <div class="header-menu1" v-on:click="openMenu2">
                        <div class="menu-left" id="menu1"></div>
                        <div class="menu-span">КАТАЛОГ</div>
                    </div>
                    <div class="logo"></div>
                    <div class="header-menu2" v-on:click="openMenu2">
                        <div class="menu-span">МЕНЮ</div>
                        <div class="menu-right">
                            <div class="menu"><span class="bar"></span>
                                <span class="bar"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-menu" id="menu2">
                    <div class="close">
                        <div class="close_area" v-on:click="closeMenu2">Закрыть
                            <div class="close_btn"><i class="fas fa-times"></i>
                            </div>
                        </div>
                    </div>
                    <div class="menu_big">
                        <div class="menu_content">
                            <a href="company.html"> <span>О компании</span>
                                <div class="link1 link"></div>
                            </a>
                            <a href="articles.html"> <span>Акции и новости</span>
                                <div class="link2 link"></div>
                            </a>
                            <a href="reviews.html"> <span>Отзывы</span>
                                <div class="link3 link"></div>
                            </a>
                            <a href="contacts.html"> <span>Контакты</span>
                                <div class="link4 link"></div>
                            </a>
                        </div>
                        <div class="menu_footer">
                            <div class="line1 line"><a href="">Наши магазины</a><a href="">Сертификаты и допуски</a><a href="">Отчеты о производственном тестировании</a><a href="">Поиск аналогов </a><a href="">Обратная связь</a>
                            </div>
                            <div class="line2 line">
                                <div class="socl">
                                    <div class="in soc"><i class="fab fa-instagram"></i>
                                    </div>
                                    <div class="vk soc"><i class="fab fa-vk"></i>
                                    </div>
                                    <div class="fb soc"><i class="fab fa-facebook-f"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="line3 line"><a href="">Политика Конфидициальности</a><a href="">Условия доставки</a><a href="">Гарантия и возврат</a><a href="">Стать дистрибьютером</a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="main katalog_page">
                <div class="container m">
                    <div class="top-menu">
                        <div class="left"><a class="link" href="index.html">  Главная    </a><a class="link" href="company.html">О компании</a><a class="last-link" href="articles.html">Контакты</a>
                        </div>
                        <div class="right"><a class="btn" href="">ВХОД ДЛЯ КЛИЕНТОВ  </a>
                        </div>
                    </div>
                </div>
                <section class="section8 wsection">
                    <div class="container">
                        <aside class="aside">
                            <div class="search">
                                <div class="head">Поиск по фильтру</div>
                                <div class="block">
                                    <div class="line">
                                        <div class="pay">Цена</div>
                                        <vue-slider ref="slider3" v-bind="demo3" v-model="demo3.value"></vue-slider>
                                        <div class="otrs">
                                            <div class="otr">{{demo3.value[0]}}</div>
                                            <div class="otr">{{demo3.value[1]}}</div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <v-select v-model="select1" :options="['foo','bar']" placeholder="Сфера приминения"></v-select>
                                        <div class="text">Класс вязкости</div>
                                        <p-check color="danger">Вязкость 1</p-check>
                                        <p-check color="danger">Вязкость 1</p-check>
                                        <p-check color="danger">Вязкость 1</p-check>
                                        <p-check color="danger">Вязкость 1</p-check>
                                    </div>
                                    <div class="item">
                                        <v-select v-model="select1" :options="['foo','bar']" placeholder="Сфера приминения"></v-select>
                                        <div class="text">Класс вязкости</div>
                                        <p-check color="danger">Вязкость 1</p-check>
                                        <p-check color="danger">Вязкость 1</p-check>
                                        <p-check color="danger">Вязкость 1</p-check>
                                        <p-check color="danger">Вязкость 1</p-check>
                                    </div>
                                    <div class="item">
                                        <v-select v-model="select1" :options="['foo','bar']" placeholder="Сфера приминения"></v-select>
                                        <div class="text">Класс вязкости</div>
                                        <p-check color="danger">Вязкость 1</p-check>
                                        <p-check color="danger">Вязкость 1</p-check>
                                        <p-check color="danger">Вязкость 1</p-check>
                                        <p-check color="danger">Вязкость 1</p-check>
                                    </div>
                                    <div class="btns">
                                        <div class="clear">Сбросить</div>
                                        <div class="sear">Искать</div>
                                    </div>
                                </div>
                            </div>
                            <div class="reklama">
                                <div class="more">Подробнее</div>
                                <div class="name">KATANA HABAKi TO-4 10w</div>
                            </div>
                        </aside>
                        <div class="content">
                            <div class="item">
                                <div class="new">NEW</div>
                                <img class="image" src="static/img/general/tov1.png">
                                <div class="text">KATANA HABAKi TO-4 10w</div>
                                <div class="subtext">Для спецтехники и транспорта</div>
                                <div class="bottom">
                                    <div class="left">
                                        <div class="t">Цена партнера</div>
                                        <div class="b">24 000 Р</div>
                                    </div>
                                    <div class="btn">Подробнее
                                        <div class="basket">
                                            <i class="fas fa-shopping-basket"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="new">NEW</div>
                                <img class="image" src="static/img/general/tov1.png">
                                <div class="text">KATANA HABAKi TO-4 10w</div>
                                <div class="subtext">Для спецтехники и транспорта</div>
                                <div class="bottom">
                                    <div class="left">
                                        <div class="t">Цена партнера</div>
                                        <div class="b">24 000 Р</div>
                                    </div>
                                    <div class="btn">Подробнее
                                        <div class="basket">
                                            <i class="fas fa-shopping-basket"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="new">NEW</div>
                                <img class="image" src="static/img/general/tov1.png">
                                <div class="text">KATANA HABAKi TO-4 10w</div>
                                <div class="subtext">Для спецтехники и транспорта</div>
                                <div class="bottom">
                                    <div class="left">
                                        <div class="t">Цена партнера</div>
                                        <div class="b">24 000 Р</div>
                                    </div>
                                    <div class="btn">Подробнее
                                        <div class="basket">
                                            <i class="fas fa-shopping-basket"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="new">NEW</div>
                                <img class="image" src="static/img/general/tov1.png">
                                <div class="text">KATANA HABAKi TO-4 10w</div>
                                <div class="subtext">Для спецтехники и транспорта</div>
                                <div class="bottom">
                                    <div class="left">
                                        <div class="t">Цена партнера</div>
                                        <div class="b">24 000 Р</div>
                                    </div>
                                    <div class="btn">Подробнее
                                        <div class="basket">
                                            <i class="fas fa-shopping-basket"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="new">NEW</div>
                                <img class="image" src="static/img/general/tov1.png">
                                <div class="text">KATANA HABAKi TO-4 10w</div>
                                <div class="subtext">Для спецтехники и транспорта</div>
                                <div class="bottom">
                                    <div class="left">
                                        <div class="t">Цена партнера</div>
                                        <div class="b">24 000 Р</div>
                                    </div>
                                    <div class="btn">Подробнее
                                        <div class="basket">
                                            <i class="fas fa-shopping-basket"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="new">NEW</div>
                                <img class="image" src="static/img/general/tov1.png">
                                <div class="text">KATANA HABAKi TO-4 10w</div>
                                <div class="subtext">Для спецтехники и транспорта</div>
                                <div class="bottom">
                                    <div class="left">
                                        <div class="t">Цена партнера</div>
                                        <div class="b">24 000 Р</div>
                                    </div>
                                    <div class="btn">Подробнее
                                        <div class="basket">
                                            <i class="fas fa-shopping-basket"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="new">NEW</div>
                                <img class="image" src="static/img/general/tov1.png">
                                <div class="text">KATANA HABAKi TO-4 10w</div>
                                <div class="subtext">Для спецтехники и транспорта</div>
                                <div class="bottom">
                                    <div class="left">
                                        <div class="t">Цена партнера</div>
                                        <div class="b">24 000 Р</div>
                                    </div>
                                    <div class="btn">Подробнее
                                        <div class="basket">
                                            <i class="fas fa-shopping-basket"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="new">NEW</div>
                                <img class="image" src="static/img/general/tov1.png">
                                <div class="text">KATANA HABAKi TO-4 10w</div>
                                <div class="subtext">Для спецтехники и транспорта</div>
                                <div class="bottom">
                                    <div class="left">
                                        <div class="t">Цена партнера</div>
                                        <div class="b">24 000 Р</div>
                                    </div>
                                    <div class="btn">Подробнее
                                        <div class="basket">
                                            <i class="fas fa-shopping-basket"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="new">NEW</div>
                                <img class="image" src="static/img/general/tov1.png">
                                <div class="text">KATANA HABAKi TO-4 10w</div>
                                <div class="subtext">Для спецтехники и транспорта</div>
                                <div class="bottom">
                                    <div class="left">
                                        <div class="t">Цена партнера</div>
                                        <div class="b">24 000 Р</div>
                                    </div>
                                    <div class="btn">Подробнее
                                        <div class="basket">
                                            <i class="fas fa-shopping-basket"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="new">NEW</div>
                                <img class="image" src="static/img/general/tov1.png">
                                <div class="text">KATANA HABAKi TO-4 10w</div>
                                <div class="subtext">Для спецтехники и транспорта</div>
                                <div class="bottom">
                                    <div class="left">
                                        <div class="t">Цена партнера</div>
                                        <div class="b">24 000 Р</div>
                                    </div>
                                    <div class="btn">Подробнее
                                        <div class="basket">
                                            <i class="fas fa-shopping-basket"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="new">NEW</div>
                                <img class="image" src="static/img/general/tov1.png">
                                <div class="text">KATANA HABAKi TO-4 10w</div>
                                <div class="subtext">Для спецтехники и транспорта</div>
                                <div class="bottom">
                                    <div class="left">
                                        <div class="t">Цена партнера</div>
                                        <div class="b">24 000 Р</div>
                                    </div>
                                    <div class="btn">Подробнее
                                        <div class="basket">
                                            <i class="fas fa-shopping-basket"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="new">NEW</div>
                                <img class="image" src="static/img/general/tov1.png">
                                <div class="text">KATANA HABAKi TO-4 10w</div>
                                <div class="subtext">Для спецтехники и транспорта</div>
                                <div class="bottom">
                                    <div class="left">
                                        <div class="t">Цена партнера</div>
                                        <div class="b">24 000 Р</div>
                                    </div>
                                    <div class="btn">Подробнее
                                        <div class="basket">
                                            <i class="fas fa-shopping-basket"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pages">
                                <div class="btn link"></div>
                                <div class="page">
                                    <div class="btn item">1</div>
                                    <div class="btn item">2</div>
                                    <div class="btn item">3</div>
                                    <div class="btn item">4</div>
                                    <div class="btn item">5</div>
                                    <div class="btn item">6</div>
                                    <div class="btn item">7</div>
                                    <div class="btn item">8</div>
                                </div>
                                <div class="btn link r"></div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section2">
                    <div class="container">
                        <div class="bottom">
                            <h2 class="h2">Почему нам <span class="before-red">&nbsp;доверяют?</span></h2>
                            <div class="items">
                                <div class="item">
                                    <div class="icon icon1"></div>
                                    <div class="head">Гарантии качества</div>
                                    <div class="text">Гарантии от производителя до 3 лет.</div>
                                </div>
                                <div class="item">
                                    <div class="icon icon2"></div>
                                    <div class="head">Рассрочка</div>
                                    <div class="text">И специальные условия оплаты</div>
                                </div>
                                <div class="item">
                                    <div class="icon icon3"></div>
                                    <div class="head">Экономия</div>
                                    <div class="text">Снижение сервисных затрат, надежность оборудования</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section7 wsection">
                    <div class="container">
                        <div class="head-text">Наши<span class="before-red">&nbsp;клиенты</span>
                        </div>
                        <div class="clients">
                            <div class="item">
                                <img class="image" src="static/img/general/client_logo_1.png">
                                <div class="hover">
                                    <img class="img" src="static/img/general/client_logo_1.png">
                                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa neque tempore eligendi. Facilis inventore rem cum, doloribus adipisci, deleniti fugiat?</div>
                                </div>
                            </div>
                            <div class="item">
                                <img class="image" src="static/img/general/client_logo_1.png">
                                <div class="hover">
                                    <img class="img" src="static/img/general/client_logo_1.png">
                                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa neque tempore eligendi. Facilis inventore rem cum, doloribus adipisci, deleniti fugiat?</div>
                                </div>
                            </div>
                            <div class="item">
                                <img class="image" src="static/img/general/client_logo_1.png">
                                <div class="hover">
                                    <img class="img" src="static/img/general/client_logo_1.png">
                                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa neque tempore eligendi. Facilis inventore rem cum, doloribus adipisci, deleniti fugiat?</div>
                                </div>
                            </div>
                            <div class="item">
                                <img class="image" src="static/img/general/client_logo_1.png">
                                <div class="hover">
                                    <img class="img" src="static/img/general/client_logo_1.png">
                                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa neque tempore eligendi. Facilis inventore rem cum, doloribus adipisci, deleniti fugiat?</div>
                                </div>
                            </div>
                            <div class="item">
                                <img class="image" src="static/img/general/client_logo_1.png">
                                <div class="hover">
                                    <img class="img" src="static/img/general/client_logo_1.png">
                                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa neque tempore eligendi. Facilis inventore rem cum, doloribus adipisci, deleniti fugiat?</div>
                                </div>
                            </div>
                            <div class="item">
                                <img class="image" src="static/img/general/client_logo_1.png">
                                <div class="hover">
                                    <img class="img" src="static/img/general/client_logo_1.png">
                                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa neque tempore eligendi. Facilis inventore rem cum, doloribus adipisci, deleniti fugiat?</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section3">
                    <div class="container">
                        <div class="head">Aenean euismod bibendum laoreet.</div>
                        <div class="text">Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate,
                            felis tellus mollis orci, sed rhoncus sapien nunc eget.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales
                            pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.Lorem ipsum dolor
                            sit amet,</div>
                    </div>
                </section>
                <section class="section4 wsection">
                    <div class="container">
                        <div class="text">
                            <div class="head">Станьте <span class="before-red">&nbsp;нашим&nbsp; </span>официальным партнером и получите скидку до <span class="red-text">20%</span>
                            </div>
                            <div class="subhead">Оставьте заявку на участие в партнерской программе прямо сейчас!</div>
                        </div>
                        <div class="form">
                            <input class="name" type="text" placeholder="Имя:">
                            <input class="tel" type="tel" placeholder="Телефон:">
                            <input class="name" type="text" placeholder="Какую компанию вы представляете?">
                            <div class="btn">СТАТЬ НАШИМ ПАРТНЕРОМ</div>
                            <div class="shur1">
                                <img src="static/img/general/shur1.png">
                            </div>
                            <div class="shur2">
                                <img src="static/img/general/shur2.png">
                            </div>
                            <div class="shur3">
                                <img src="static/img/general/shur3.png">
                            </div>
                        </div>
                    </div>
                </section>
                <section class="section5 slide slide2">
                    <div class="container">
                        <div class="head-text">
                            <div class="text">Отзывы о <span class="before-red">&nbsp;продукции&nbsp;</span>
                                <br>КАТАНА</div>
                            <div class="btns">
                                <div class="btn" v-on:click="slide2--;if(slide2&lt;0)slide2=0;"></div>
                                <div class="btn r" v-on:click="slide2++;if(slide2&gt;3)slide2=3;"></div>
                            </div>
                        </div>
                        <transition name="component-fade" mode="out-in">
                            <div class="items" v-if="slide2==0" key="r1">
                                <div class="item">
                                    <div class="img">
                                        <img class="image" src="static/img/general/name.png">
                                    </div>
                                    <div class="name">Филатов И.В.</div>
                                    <div class="head">Масло KATANA KISSAKI 150</div>
                                    <div class="text">Lore111m ipsum dolor sit amet, consectetur adipiscing elit. Aenean</div>
                                </div>
                                <div class="item">
                                    <div class="img">
                                        <img class="image" src="static/img/general/name.png">
                                    </div>
                                    <div class="name">Филатов И.В.</div>
                                    <div class="head">Масло KATANA KISSAKI 150</div>
                                    <div class="text">Lore111m ipsum dolor sit amet, consectetur adipiscing elit. Aenean</div>
                                </div>
                                <div class="item">
                                    <div class="img">
                                        <img class="image" src="static/img/general/name.png">
                                    </div>
                                    <div class="name">Филатов И.В.</div>
                                    <div class="head">Масло KATANA KISSAKI 150</div>
                                    <div class="text">Lore111m ipsum dolor sit amet, consectetur adipiscing elit. Aenean</div>
                                </div>
                            </div>
                            <div class="items" v-if="slide2==1" key="r2">
                                <div class="item">
                                    <div class="img">
                                        <img class="image" src="static/img/general/name.png">
                                    </div>
                                    <div class="name">Филатов И.В.</div>
                                    <div class="head">Масло KATANA KISSAKI 150</div>
                                    <div class="text">Lorem ips222um dolor sit amet, consectetur adipiscing elit. Aenean</div>
                                </div>
                                <div class="item">
                                    <div class="img">
                                        <img class="image" src="static/img/general/name.png">
                                    </div>
                                    <div class="name">Филатов И.В.</div>
                                    <div class="head">Масло KATANA KISSAKI 150</div>
                                    <div class="text">Lorem ips222um dolor sit amet, consectetur adipiscing elit. Aenean</div>
                                </div>
                                <div class="item">
                                    <div class="img">
                                        <img class="image" src="static/img/general/name.png">
                                    </div>
                                    <div class="name">Филатов И.В.</div>
                                    <div class="head">Масло KATANA KISSAKI 150</div>
                                    <div class="text">Lorem ips222um dolor sit amet, consectetur adipiscing elit. Aenean</div>
                                </div>
                            </div>
                            <div class="items" v-if="slide2==2" key="r3">
                                <div class="item">
                                    <div class="img">
                                        <img class="image" src="static/img/general/name.png">
                                    </div>
                                    <div class="name">Филатов И.В.</div>
                                    <div class="head">Масло KATANA KISSAKI 150</div>
                                    <div class="text">Lorem ipsu33m dolor sit amet, consectetur adipiscing elit. Aenean</div>
                                </div>
                                <div class="item">
                                    <div class="img">
                                        <img class="image" src="static/img/general/name.png">
                                    </div>
                                    <div class="name">Филатов И.В.</div>
                                    <div class="head">Масло KATANA KISSAKI 150</div>
                                    <div class="text">Lorem ipsu33m dolor sit amet, consectetur adipiscing elit. Aenean</div>
                                </div>
                                <div class="item">
                                    <div class="img">
                                        <img class="image" src="static/img/general/name.png">
                                    </div>
                                    <div class="name">Филатов И.В.</div>
                                    <div class="head">Масло KATANA KISSAKI 150</div>
                                    <div class="text">Lorem ipsu33m dolor sit amet, consectetur adipiscing elit. Aenean</div>
                                </div>
                            </div>
                            <div class="items" v-if="slide2==3" key="r4">
                                <div class="item">
                                    <div class="img">
                                        <img class="image" src="static/img/general/name.png">
                                    </div>
                                    <div class="name">Филатов И.В.</div>
                                    <div class="head">Масло KATANA KISSAKI 150</div>
                                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean</div>
                                </div>
                                <div class="item">
                                    <div class="img">
                                        <img class="image" src="static/img/general/name.png">
                                    </div>
                                    <div class="name">Филатов И.В.</div>
                                    <div class="head">Масло KATANA KISSAKI 150</div>
                                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean</div>
                                </div>
                                <div class="item">
                                    <div class="img">
                                        <img class="image" src="static/img/general/name.png">
                                    </div>
                                    <div class="name">Филатов И.В.</div>
                                    <div class="head">Масло KATANA KISSAKI 150</div>
                                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean</div>
                                </div>
                            </div>
                        </transition>
                    </div>
                </section>
            </div>
            <footer class="footer">
                <div class="container">
                    <div class="top">
                        <div class="menus">
                            <div class="info">
                                <div class="logo"></div>
                                <div class="inform">
                                    <div>инн 123768999812397</div>
                                    <div>огрн 128971239176</div>
                                </div>
                            </div>
                            <div class="menu">
                                <div class="line"></div><a class="menu-item hover-red" href="#">Магазин</a><a class="menu-item hover-red" href="#">Партнерска</a><a class="menu-item hover-red" href="company.html">О компании</a><a class="menu-item hover-red" href="#">Команда</a>
                                <a
                                class="menu-item hover-red" href="#">Вакансии</a><a class="menu-item hover-red" href="reviews.html">Отзывы</a>
                            </div>
                            <div class="menu">
                                <div class="line"></div><a class="menu-item hover-red" href="#">Поддержка</a><a class="menu-item hover-red" href="#">Вопрос-Ответ</a><a class="menu-item hover-red" href="#">Новости</a><a class="menu-item hover-red" href="articles.html">Статьи</a>
                                <a
                                class="menu-item hover-red" href="contacts.html">Контакты</a><a class="menu-item hover-red" href="#">Сертификаты</a>
                            </div>
                        </div>
                        <div class="other">
                            <div class="info">
                                <div class="text">Электронные платежи защищены
                                    <br>Посмотреть <a class="red" href="">e-commerce rules</a>
                                </div>
                                <div class="pays">
                                    <div class="pp pay"></div>
                                    <div class="visa pay"></div>
                                    <div class="mc pay"></div>
                                </div>
                            </div>
                            <div class="contact">
                                <div class="head">Как нас найти</div>
                                <div class="text">
                                    г. Москва, ул. 2-я Бухвостова, 17к1, оф. 165,
                                    <br>ежедневно с 10.00 до 19.00</div>
                            </div>
                            <div class="map"></div>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="copy">&copy; JoyWin, 2018</div>
                        <div class="soc">
                            <div class="socl"><a class="vk link hover-red" href="#">Vkontakte</a><a class="fb link hover-red" href="#">Facebook</a><a class="in link hover-red" href="#">Instagram</a>
                            </div>
                            <div class="soc-totop" v-on:click="scrollToTop"></div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>


        <script src="static/js/main44twqmvgdvswdj5ah5mi.min.js"></script>
    </body>

</html>