/* Your custom fonts here */

/* Example

@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/Custom-Font.eot');
    src: url('../fonts/Custom-Font.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Custom-Font.woff') format('woff'),
         url('../fonts/Custom-Font.svg#custom_font') format('svg');
    font-weight: 400;       // For normal width. It could has another value
    font-style: normal;     // Also could has another value
    }


// Var for using custom font
$CustomFont: 'CustomFont', Helvetica, Arial, sans-serif;
*/
@font-face {
    font-family: 'GothamPro Black';
    src: url('../fonts/GOTHAMPRO-BLACK.ttf');
}

@font-face {
    font-family: 'GothamPro BlackItalic';
    src: url('../fonts/GOTHAMPRO-BLACKITALIC.ttf');
}

@font-face {
    font-family: 'GothamPro Bold';
    src: url('../fonts/GOTHAMPRO-BOLD.ttf');
}

@font-face {
    font-family: 'GothamPro BoldItalic';
    src: url('../fonts/GOTHAMPRO-BOLDITALIC.ttf');
}

@font-face {
    font-family: 'GothamPro Italic';
    src: url('../fonts/GOTHAMPRO-ITALIC.ttf');
}

@font-face {
    font-family: 'GothamPro Light';
    src: url('../fonts/GOTHAMPRO-LIGHT.ttf');
}

@font-face {
    font-family: 'GothamPro LightItalic';
    src: url('../fonts/GOTHAMPRO-LIGHTITALIC.ttf');
}

@font-face {
    font-family: 'GothamPro Medium';
    src: url('../fonts/GOTHAMPRO-MEDIUM.ttf');
}

@font-face {
    font-family: 'GothamPro MediumItalic';
    src: url('../fonts/GOTHAMPRO-MEDIUMTALIC.ttf');
}

@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/GOTHAMPRO.ttf');
}

@font-face {
    font-family: 'GothamProNarrow Bold';
    src: url('../fonts/GOTHAMPRONARROW-BOLD.ttf');
}

@font-face {
    font-family: 'GothamProNarrow Medium';
    src: url('../fonts/GOTHAMPRONARROW-MEDIUM.ttf');
}

@font-face {
    font-family: 'RitalinExtraBold';
    src: url('../fonts/OFONT.RU_RITALIN EXTRABOLD.ttf');
}

@font-face {
    font-family: 'Ritabd';
    src: url('../fonts/RITABD_.ttf');
}
@font-face {
    font-family: 'Ritalin';
    src: url('../fonts/RITALIN.ttf');
}
