@media (max-width: 991px) {
    .gallery__filteritem {
        margin: 0 10px;
        font-size: 16px;
    }
    .gallery__item {
        width: 296px;
        height: 246px;
    }
    .gallery__item_infoleft, .gallery__item_inforight, .gallery__item_dopinfo {
        width: 100%;
    }
    .gallery__item_dopinfo {
        position: relative;
    }
    .gallery__item_button {
        width: 40%;
        position: absolute;
        right: 0;
        top: 0;
        margin-top: 10px;
    }
    .gallery__item_price span {
        font-size: 28px;
    }
    .gallery__item_price span img {
        height: 22px;
    }
    .gallery__slider_prev, .gallery__slider_next {
        top: 95px;
    }
}