@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Medium.woff2") format('woff2'), url("../fonts/Lato-Medium.woff") format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Bold.woff2") format('woff2'), url("../fonts/Lato-Bold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Regular.woff2") format('woff2'), url("../fonts/Lato-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Semibold.woff2") format('woff2'), url("../fonts/Lato-Semibold.woff") format('woff');
  font-weight: 600;
  font-style: normal;
}
html,
body {
  height: 100%;
  font-family: 'Lato';
  font-weight: normal;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
}
.page__wrapper {
  min-height: 90%;
}
* html .page__wrapper {
  height: 100%;
}
section {
  width: 100%;
}
h2 {
  position: relative;
  font-size: 42px;
  margin-bottom: 40px;
}
h2:after {
  position: absolute;
  left: 50%;
  top: calc(100% - 15px);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: url("../img/general/head.png");
}
.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.header {
  background: #fbf4e6;
  width: 100%;
  padding: 28px 0;
}
.header .container {
  height: 78px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: normal;
}
.header .header_center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header .header_left {
  text-align: left;
  font-size: 15px;
  line-height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .header_address {
  margin-bottom: 13px;
}
.header .header_right {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .header_phone {
  font-size: 28px;
  padding-right: 18px;
  margin-bottom: 8px;
}
.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: normal;
  font-size: 33px;
}
.header .logo img {
  margin-right: 10px;
  width: 62px;
}
.footer .logo {
  font-size: 25px;
}
.footer .logo img {
  width: 46px;
}
.btn {
  cursor: pointer;
}
.btn {
  border-radius: 14px;
  background-color: #f50057;
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  padding: 9px 54px;
  max-width: 307px;
  margin: 0 auto;
}
.btn:hover {
  background-color: #ff1165;
}
.small_btn {
  border-radius: 10px;
  font-size: 15px;
  padding: 12px 26px;
}
.ideal {
  background-image: url("../img/general/bg-theme1.png");
  background-size: cover;
  background-position: center center;
  padding-top: 160px;
  padding-bottom: 20px;
}
.ideal .head {
  text-transform: uppercase;
  color: #f50057;
  font-size: 82px;
  font-weight: 500;
  margin-bottom: 30px;
}
.ideal .subhead {
  font-size: 42px;
  margin-bottom: 80px;
}
.ideal .form {
  font-size: 30px;
  color: #f50057;
}
.ideal .form .phone {
  border: none;
  border-radius: 5px;
  margin: 17px;
  width: 307px;
  height: 52px;
  padding: 10px;
}
.ideal .subtext {
  color: #000;
  width: 480px;
  font-size: 13px;
  margin: 0 auto;
  margin-top: 10px;
}
.search {
  background: #fff;
  padding-top: 64px;
  padding-bottom: 80px;
}
.search .subhead {
  color: #7b1437;
  font-size: 30px;
}
.search .blocks {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.search .blocks .block {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.search .blocks .block .block_img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background-color: #6ec9c6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 80px auto 40px auto;
}
.search .blocks .block .block_img img {
  height: 140px;
}
.search .blocks .block .block_head {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}
.search .blocks .block .block_text {
  color: #6a102b;
  font-size: 16px;
  max-width: 200px;
}
.search .blocks .block2 .block_img {
  background-color: #f50057;
}
.popular {
  background: #d6ebed;
  padding-top: 64px;
  padding-bottom: 80px;
}
.popular .multiple-items {
  width: calc(100% - 60px);
  margin: 60px auto;
}
.popular .multiple-items .slide-box {
  background: #fff;
  height: 500px;
  margin: 0 auto;
  padding: 10px 10px 30px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 344px;
}
.popular .multiple-items .slide-box .image {
  width: 326px;
  height: 340px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  outline: 1px solid #fff;
  outline-offset: -1px;
}
.popular .multiple-items .slide-box .image1 {
  background-image: url("../img/general/popular2.png");
}
.popular .multiple-items .slide-box .image2 {
  background-image: url("../img/general/popular2.png");
}
.popular .multiple-items .slide-box .image3 {
  background-image: url("../img/general/popular3.png");
}
.popular .multiple-items .slide-box .text {
  color: #7b1d97;
  font-size: 23px;
}
.popular .multiple-items .slide-box .st {
  color: #f50057;
  font-size: 44px;
}
.popular .subtext {
  margin-bottom: 40px;
  color: #f50057;
  font-size: 30px;
}
.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.content .left,
.content .right {
  width: 50%;
}
.master {
  background: #fff;
  padding-top: 40px;
  padding-bottom: 20px;
}
.master .content .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.master .content .left .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 560px;
  margin-right: 40px;
  margin-bottom: 30px;
}
.master .content .left .item .number {
  width: 87px;
  height: 87px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px dotted #f50057;
  border-radius: 50%;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #f50057;
  font-size: 42px;
  font-family: 'Roboto Condensed', sans-serif;
  margin-right: 20px;
  font-weight: bold;
}
.master .content .left .item .number:after {
  content: '';
  position: absolute; /* Абсолютное позиционирование */
  left: calc(100% - 10px);
  top: calc(50% - 12px); /* Положение треугольника */
  border: 12px solid transparent;
  border-left: 22px solid #f50057; /* Добавляем треугольник */
}
.master .content .left .text {
  margin-top: 30px;
  text-align: left;
}
.master .content .left .text .head {
  font-size: 21px;
  font-weight: bold;
}
.master .content .left .text .subtext {
  font-size: 18px;
  color: #3e3e3e;
}
.portfolio {
  background: #d6ebed;
  padding-top: 50px;
  padding-bottom: 50px;
}
.portfolio .slider {
  width: 530px;
  margin: 0 auto;
}
.portfolio .slider .slider1 {
  padding: 0 10px;
  margin-bottom: 20px;
}
.portfolio .slider .slide .slide-box {
  background-color: #fff;
}
.portfolio .slider .slider-for .slide-box {
  margin: 0 auto;
  width: 512px;
  height: 512px;
  padding: 14px;
}
.portfolio .slider .slider-for .slick-next {
  right: -50px;
}
.portfolio .slider .slider-for .slick-prev {
  left: -50px;
}
.portfolio .slider .slider-nav .slide-box {
  width: 86px;
  height: 86px;
  padding: 4px;
  margin: 0 auto;
}
.portfolio .slider .image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.portfolio .slider .image1 {
  background-image: url("../img/general/popular2.png");
}
.portfolio .slider .image2 {
  background-image: url("../img/general/popular2.png");
}
.portfolio .slider .image3 {
  background-image: url("../img/general/popular2.png");
}
.portfolio .slider .image4 {
  background-image: url("../img/general/popular2.png");
}
.portfolio .slider .image5 {
  background-image: url("../img/general/popular2.png");
}
.image-box {
  width: 520px;
  padding: 24px 0;
  background-color: #d6ebed;
}
.image-box img {
  margin: 0 auto;
  border: 2px solid #fff;
}
.material {
  background: #fff;
  padding-top: 60px;
}
.material .blocks {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.material .blocks .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 33%;
}
.skidka {
  background: #fff;
  padding-top: 90px;
}
.skidka .left,
.skidka .right {
  padding: 0 15px;
}
.skidka .left .image-box,
.skidka .right .image-box {
  height: 685px;
}
.skidka .left .image-box {
  float: right;
}
.skidka .right .image-box {
  padding: 50px;
}
.skidka .right .text {
  font-weight: 600px;
  font-size: 22px;
  margin-bottom: 50px;
}
.skidka .right .input {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 10px;
}
.skidka .right .input input {
  border-radius: 10px;
  width: 100%;
  margin: 0 auto;
  font-size: 25px;
  padding: 10px;
  border: none;
}
.skidka .right .input label {
  font-size: 17px;
  margin-bottom: 10px;
}
.skidka .right .subtext {
  margin-top: 35px;
  margin-bottom: 45px;
  font-size: 17px;
  text-align: left;
}
.skidka .right .mess {
  color: #f50057;
  text-decoration: underline;
  font-size: 17px;
}
.map {
  background: #fff;
  padding-top: 90px;
  position: relative;
}
.map .place_box {
  z-index: 9999;
  background-color: #d6ebed;
  padding: 15px;
  position: absolute;
  bottom: 45px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}
.map .place_box .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 23px;
  margin-bottom: 10px;
}
.map .place_box .logo img {
  margin-right: 10px;
  width: 40px;
}
.map .place_box .image img {
  border: 10px solid #fff;
}
.map .place_box .text {
  font-size: 20px;
}
.footer {
  background: #6ec9c6;
  color: #fff;
}
