.input__text {
    width: 280px;
    box-sizing: border-box;
    height: 52px;
    font-size: 16px;
    border: none;
}
.input__text_topform {
    display: block;
    margin: 0 auto;
    padding-left: 52px;
    padding-right: 15px;
    margin-bottom: 15px;
    border: 1px solid #fff;
    color: #fff;
}
.input__text_lineform {
    padding-left: 52px;
    padding-right: 15px;
    color: #000;
    background-color: #dee8ea;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.07) inset;
    margin-right: 17px;
}
.input__text_topformmail {
    background: url("email-icon.png") 15px center no-repeat;
}
.input__text_lineformmail {
    background: url("email-icon-black.png") 15px center no-repeat, #dee8ea;
}
.input__text_topformphone {
    background: url("phone-icon.png") 15px center no-repeat;
}
.input__text_lineformphone {
    background: url("phone-icon-black.png") 15px center no-repeat, #dee8ea;
}
.input__button {
    width: 280px;
    height: 53px;
    background-color: #2ecc96;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    color: #fff;
    font-family: 'Circe-Bold';
}
.input__button_topform {
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 40px;
    box-shadow: 0 15px 10px rgba(0,0,0,0.1);
}
.input__button_lineform {
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.lineform {
    padding-bottom: 85px;
}
.input__text_modalform {
    width: 280px;
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
}
.lineform_modal {
    padding-bottom: 40px;
}