@media (max-width: 1199px) {
    .header__head {
        font-size: 34px;
    }
    .header__subhead {
        font-size: 30px;
    }
    .header__icon {
        font-size: 15px;
        margin-right: 15px;
    }
    .header__icon:nth-child(1) {
        background-size: 50px auto;
        background-position: right 5px;
    }
    .header__icon:nth-child(3) {
        background-size: 30px auto;
        background-position: right 10px;
        margin-right: 0;
    }
    .header__icon:nth-child(2) {
        background-size: 38px auto;
        background-position: 140px 10px;
    }
    .header__icon_bold {
        font-size: 24px;
    }
    .header__icon_digit {
        font-size: 40px;
    }
}
@media (min-width: 992px) {
    .header__icons{
        margin-top: 120px;
    }
    .header__bottom{
        margin-top: -75px;
        font-size: 12px;
        color: #fff;
        text-transform: uppercase;
        cursor: pointer;
        position: absolute;
        left: 0;
        right: 0;
    }
    .header{
        height: 750px;
    }
}