@media (max-width: 991px) {
    .projectcart__prev {
        left: 0;
    }
    .projectcart__next {
        right: 0;
    }
    .projectcart__photo {
        padding-left: 0;
        padding-right: 0;
    }
}
