@media (max-width: 991px) {
    .header__icons {
        margin-top: 40px;
    }
    .header__icon {
        margin-bottom: 15px;
    }
}
@media (min-width: 768px) {
    #player {
        display: none;
    }

}