doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/example/example.pug
    include ../components/footer/footer.pug
    include ../components/form/form.pug
    include ../components/header/header.pug

    head
        +head(head.defaults)
    body.page.blog
        |%=symbols=%
        +header(true)
        .header_head
            .container
                .block_w_border
                    h1 БЛОГ
        main
            .container.items
                .item
                    .item_img
                        img(src="static/img/general/item.png", alt="")
                    .item_header защита шамана
                    .item_text Шаман — кто это, какие цели он преследует, как добивается нужного эффекта? Загадочная аура вокруг такого древнего понятия, как шаманизм сохраняется и по сей день. Почему в современном мире, наполненным новыми технологиями, люди обращаются за магической помощью к шаманам. Не все в этом мире объясняется с помощью науки... существуют вещи неподвластные пониманию... 
                    .item_subs
                        .item_data 12.12.2018
                        .item_more читать далее >
                .item
                    .item_img
                        img(src="static/img/general/item.png", alt="")
                    .item_header защита шамана
                    .item_text Шаман — кто это, какие цели он преследует, как добивается нужного эффекта? Загадочная аура вокруг такого древнего понятия, как шаманизм сохраняется и по сей день. Почему в современном мире, наполненным новыми технологиями, люди обращаются за магической помощью к шаманам. Не все в этом мире объясняется с помощью науки... существуют вещи неподвластные пониманию... 
                    .item_subs
                        .item_data 12.12.2018
                        .item_more читать далее >
                .item
                    .item_img
                        img(src="static/img/general/item.png", alt="")
                    .item_header защита шамана
                    .item_text Шаман — кто это, какие цели он преследует, как добивается нужного эффекта? Загадочная аура вокруг такого древнего понятия, как шаманизм сохраняется и по сей день. Почему в современном мире, наполненным новыми технологиями, люди обращаются за магической помощью к шаманам. Не все в этом мире объясняется с помощью науки... существуют вещи неподвластные пониманию... 
                    .item_subs
                        .item_data 12.12.2018
                        .item_more читать далее >
                .item
                    .item_img
                        img(src="static/img/general/item.png", alt="")
                    .item_header защита шамана
                    .item_text Шаман — кто это, какие цели он преследует, как добивается нужного эффекта? Загадочная аура вокруг такого древнего понятия, как шаманизм сохраняется и по сей день. Почему в современном мире, наполненным новыми технологиями, люди обращаются за магической помощью к шаманам. Не все в этом мире объясняется с помощью науки... существуют вещи неподвластные пониманию... 
                    .item_subs
                        .item_data 12.12.2018
                        .item_more читать далее >
                .item
                    .item_img
                        img(src="static/img/general/item.png", alt="")
                    .item_header защита шамана
                    .item_text Шаман — кто это, какие цели он преследует, как добивается нужного эффекта? Загадочная аура вокруг такого древнего понятия, как шаманизм сохраняется и по сей день. Почему в современном мире, наполненным новыми технологиями, люди обращаются за магической помощью к шаманам. Не все в этом мире объясняется с помощью науки... существуют вещи неподвластные пониманию... 
                    .item_subs
                        .item_data 12.12.2018
                        .item_more читать далее >
                .item
                    .item_img
                        img(src="static/img/general/item.png", alt="")
                    .item_header защита шамана
                    .item_text Шаман — кто это, какие цели он преследует, как добивается нужного эффекта? Загадочная аура вокруг такого древнего понятия, как шаманизм сохраняется и по сей день. Почему в современном мире, наполненным новыми технологиями, люди обращаются за магической помощью к шаманам. Не все в этом мире объясняется с помощью науки... существуют вещи неподвластные пониманию... 
                    .item_subs
                        .item_data 12.12.2018
                        .item_more читать далее >
        +form()
        +footer()

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')