doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/example/example.pug
    include ../components/footer/footer.pug
    include ../components/form/form.pug
    include ../components/header/header.pug

    head
        +head(head.defaults)
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

    body.page
        |%=symbols=%
        section.index_header
            .container
                .socials
                    a(href="").soc.vk
                        img(src="static/img/general/vk.svg", alt="")
                    a(href="").soc.in
                        img(src="static/img/general/Instagram.svg", alt="")
                    a(href="").soc.youtube
                        img(src="static/img/general/Youtube.svg", alt="")
                .langs
                    .lang RU
                    .lang.active EN
                .block_w_border
                    img(src="static/img/general/logo.png", alt="").index_header_logo

                ul.menu
                        li
                            a(href="") Главная
                        li
                            a(href="") Услуги
                        li
                            a(href="") Блог
                        li
                            a(href="") Книги
                        li
                            a(href="") Контакты
        main.index_main
            .container
                .section.section1
                    .col30
                        img(src="static/img/general/mask.png", alt="")
                    .col70
                        h2 Заголовок
                        p Приветствую тебя, ищущий помощи особого назначения. Итак, давай знакомиться. Я - шаман. Может, звучит очень самомнительно, но это так. Может ли стать шаманом любой, только поверив в свои силы? Приложивший все усилья для возможности общения с умершими друзьями или родственниками, может ли он понять все глубины естества и решить поставленные задачи? Увы, ни в одном из миров неизвестны случаи получения какого-либо шаманского дара по собственному желанию.
                        p Конечно, существуют те заблудшие, которые пытаются спекулировать на неимении дара, но как правило, посмотрев на них «в деле», большинству становится понятно, что кроме громкого имени, данные личности ничего не имеют. Вскоре им дается звание шарлатанов и обманщиков. 
                        p Шаманом может являться только тот, кого избрали, непосредственно сами духи. Делается это избрание еще до зачатия. После рождения избранник должен пройти многие испытания с целью научиться правильно пользоваться своим даром. 
                        p Путешествия в разные миры приводят испытуемого к состоянию, которое принято в мире живых считать потерей рассудка. Однако, если смотреть на это чуть пристальнее, понятно, что это наоборот приобретение высшего рассудка. Получая дары духов и божеств в виде новых знаний, настает день, когда шаман может зваться так по праву и совершать помощь обратившемуся, а не напротив, портить своим незнанием отчаивавшегося человека.
                .section.section2                  
                    .col50
                        h2 Заголовок
                        p Приветствую тебя, ищущий помощи особого назначения. Итак, давай знакомиться. Я - шаман. Может, звучит очень самомнительно, но это так. Может ли стать шаманом любой, только поверив в свои силы? Приложивший все усилья для возможности общения с умершими друзьями или родственниками, может ли он понять все глубины естества и решить поставленные задачи? Увы, ни в одном из миров неизвестны случаи получения какого-либо шаманского дара по собственному желанию.
                        p Конечно, существуют те заблудшие, которые пытаются спекулировать на неимении дара, но как правило, посмотрев на них «в деле», большинству становится понятно, что кроме громкого имени, данные личности ничего не имеют. Вскоре им дается звание шарлатанов и обманщиков. 
                        p Шаманом может являться только тот, кого избрали, непосредственно сами духи. Делается это избрание еще до зачатия. После рождения избранник должен пройти многие испытания с целью научиться правильно пользоваться своим даром. 
                        p Путешествия в разные миры приводят испытуемого к состоянию, которое принято в мире живых считать потерей рассудка. Однако, если смотреть на это чуть пристальнее, понятно, что это наоборот приобретение высшего рассудка. Получая дары духов и божеств в виде новых знаний, настает день, когда шаман может зваться так по праву и совершать помощь обратившемуся, а не напротив, портить своим незнанием отчаивавшегося человека.
                    .col50
                        img(src="static/img/general/znak.png", alt="")
                .section.section3
                    .col50
                        img(src="static/img/general/video.png", alt="")                 
                    .col50
                        h2 Заголовок
                        p Приветствую тебя, ищущий помощи особого назначения. Итак, давай знакомиться. Я - шаман. Может, звучит очень самомнительно, но это так. Может ли стать шаманом любой, только поверив в свои силы? Приложивший все усилья для возможности общения с умершими друзьями или родственниками, может ли он понять все глубины естества и решить поставленные задачи? Увы, ни в одном из миров неизвестны случаи получения какого-либо шаманского дара по собственному желанию.
                        p Конечно, существуют те заблудшие, которые пытаются спекулировать на неимении дара, но как правило, посмотрев на них «в деле», большинству становится понятно, что кроме громкого имени, данные личности ничего не имеют. Вскоре им дается звание шарлатанов и обманщиков. 
                        p Шаманом может являться только тот, кого избрали, непосредственно сами духи. Делается это избрание еще до зачатия. После рождения избранник должен пройти многие испытания с целью научиться правильно пользоваться своим даром. 
                        p Путешествия в разные миры приводят испытуемого к состоянию, которое принято в мире живых считать потерей рассудка. Однако, если смотреть на это чуть пристальнее, понятно, что это наоборот приобретение высшего рассудка. Получая дары духов и божеств в виде новых знаний, настает день, когда шаман может зваться так по праву и совершать помощь обратившемуся, а не напротив, портить своим незнанием отчаивавшегося человека.
                .section.section4                  
                    .col50
                        h2 Заголовок
                        p Приветствую тебя, ищущий помощи особого назначения. Итак, давай знакомиться. Я - шаман. Может, звучит очень самомнительно, но это так. Может ли стать шаманом любой, только поверив в свои силы? Приложивший все усилья для возможности общения с умершими друзьями или родственниками, может ли он понять все глубины естества и решить поставленные задачи? Увы, ни в одном из миров неизвестны случаи получения какого-либо шаманского дара по собственному желанию.
                        p Конечно, существуют те заблудшие, которые пытаются спекулировать на неимении дара, но как правило, посмотрев на них «в деле», большинству становится понятно, что кроме громкого имени, данные личности ничего не имеют. Вскоре им дается звание шарлатанов и обманщиков. 
                        p Шаманом может являться только тот, кого избрали, непосредственно сами духи. Делается это избрание еще до зачатия. После рождения избранник должен пройти многие испытания с целью научиться правильно пользоваться своим даром. 
                        p Путешествия в разные миры приводят испытуемого к состоянию, которое принято в мире живых считать потерей рассудка. Однако, если смотреть на это чуть пристальнее, понятно, что это наоборот приобретение высшего рассудка. Получая дары духов и божеств в виде новых знаний, настает день, когда шаман может зваться так по праву и совершать помощь обратившемуся, а не напротив, портить своим незнанием отчаивавшегося человека.
                    .col50
                        .book_slider
                            <div class="rev_slider">
                                <div class="rev_slide">
                                  <div class="test">
                                      img(src="static/img/general/01.png", alt="")
                                  </div>
                                </div>

                                <div class="rev_slide">
                                  <div class="test">
                                      img(src="static/img/general/02.png", alt="")
                                  </div>
                                </div>
                                <div class="rev_slide">
                                  <div class="test">
                                      img(src="static/img/general/03.png", alt="")
                                  </div>
                                </div>
                                <div class="rev_slide">
                                  <div class="test">
                                      img(src="static/img/general/04.png", alt="")
                                  </div>
                                </div>
                                <div class="rev_slide">
                                  <div class="test">
                                      img(src="static/img/general/05.png", alt="")
                                  </div>
                                </div>
                                <div class="rev_slide">
                                  <div class="test">
                                      img(src="static/img/general/06.png", alt="")
                                  </div>
                                </div>
                                </div>
                            </div>

        +header(true)
        +form()
        +footer()
        <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')