.proizv__slider {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.proizv__slider_in {
    width: 500000px;
    margin-left: 265px;
}

.proizv__slider_prev {
    position: absolute;
    left: 230px;
    top: 268px;
    width: 68px;
    height: 68px;
    background: url(arrow_left.png) center center no-repeat, #fff;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
}
.proizv__slider_next {
    position: absolute;
    right: 230px;
    top: 268px;
    width: 68px;
    height: 68px;
    background: url(arrow_right.png) center center no-repeat, #fff;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
}
.proizv__slideitem {
    margin: 0 15px;
    width: 1043px;
}
.proizv__slidephoto {
    position: relative;
}
.proizv__slidephoto:after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    display: block;
    content: "";
}
.proizv__slidephoto_visible:after {
    display: none;
}
.proizv__thumbs {
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 100px;
    width: 1043px;
}
.proizv__thumb {
    width: 18%;
    margin-right: 2.5%;
    cursor: pointer;
}
.proizv__thumb_active {
    outline: 4px solid #2ecc96;
}
.proizv__thumb:nth-child(5) {
    margin-right: 0;
}
.proizv__thumb:hover {
    outline: 4px solid #2ecc96;
}
@media (max-width: 1630px) {
    .proizv__slider_prev {
        left: 30px;
    }
    .proizv__slider_next {
        right: 30px;
    }
}
