@import url('https://fonts.googleapis.com/css?family=Roboto:700');

body * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.text {
    position: relative;
    z-index: 10;
    color: #999;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.2),
        1px 1px 1px rgba(255, 255, 255, 0.2),
        1px 1px 1px rgba(255, 255, 255, 0.7);
}

#micro_phone #b,
#micro_phone #c,
#micro_phone #d {
    transform: translate(-160px, -40px);
    opacity: 0;
}

div.speech {
    position: absolute;
    top: 40px;
    z-index: 9;
    transition: transform .5s !important;
    transform: translate(-0, -0) scale(1);
}
.wt p{
    position: absolute;
    top: 160px;
    font-size: 10px;
    text-align: center;
}
.wt3 p{
    padding-left: 5px;
}
.wt5 p{
    padding-right: 25px;
}
#speech2 {
    left: 100px;
}

#speech3 {
    left: 206px;
    top: 25px;
}

div.speech.off {
    transform: translate(-15px, 20px) scale(0);
}

p.speech {
    position: relative;
    font-size: 9px;
    padding: 3px 5px;
    text-align: center;
    background-color: #fff;
    border: 2px solid #000;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 12px;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
}

p.speech:before {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 15px;
    bottom: -10px;
    border: 5px solid;
    border-color: #000 transparent transparent #000;
}

p.speech:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: 17px;
    bottom: -4px;
    border: 3px solid;
    border-color: #fff transparent transparent #fff;
}

#micro_main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    flex-direction: column;
}

#micro_cloud svg {
    fill: #00BFFF;
}

#text_wifi {
    position: relative;
}

#micro_content {
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.l {
    width: 100%;
    position: absolute;
}

#phones {
    display: flex;
    flex-direction: column;
}

#phones div {
    margin: 20px 0;
}

#phones div #b,
#phones div #c,
#phones div #d {
    transform: translate(-160px, -40px);
}

#micro_content * {
    transition: fill .5s, opacity .5s;
}

#l1 {
    top: -3px;
    left: -18px;
}

#l2,
#l3 {
    top: 12px;
    left: -20px;
}

#l2 svg,
#l3 svg {
    /*width: 140px;*/

}

#l2 svg rect,
#l3 svg rect {
    /*width: 100px;*/
}

#phones,
#micro_cloud {
    background: #fff;
}

.btns {
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

.btns button {
    cursor: pointer;
    margin: 10px border 1px solid black;
    padding: 10px;
    border-radius: 5px;
    box-shadow: none;
    outline: none;
}

.micro_svg,
.micro_svg svg {
    width: 64px;
    position: relative;
    z-index: 5
}

#text_wifi {
    margin-top: -25px;
}

#l2 {
    /*left: -52px;
    //top: 16px;
    //z-index: 1;
    //transform: rotate(-38deg);*/
}

#l3 {
    left: -52px;
    top: 4px;
    z-index: 1;
    transform: rotate(36deg);
}

.red * {
    fill: red !important;
    opacity: .5;
}

#speech4 {
    color: red;
}

#text4 {
    position: absolute;
    top: -21px;
    transform: rotate(-38deg);
}

#text5 {
    position: absolute;
    top: 45px;
    transform: rotate(38deg)
}

.green * {
    fill: green
}

.micro_hide {
    opacity: 0;
}

#micro_phone svg {
    height: 64px;
}

.micro_opacity {
    opacity: .2;
}

.rp5 {
    fill: #fff;
}

#lines1,
#lines2,
#lines3 {
    width: 200px;
    height: 200px;
    position: absolute;
    top: -2px;
    left: 0;
    z-index: 2;
}

#lines1 {
    left: -76px;
}

#lines2 {
    left: 25px;
}

#lines3 {
    left: 133px;
}

#lines1 .rp5 {
    r: 22px;
}

#svg_22,
#svg_23 {
    fill: #fff !important;
}

#micro_scheme1,
#micro_scheme2,
#micro_scheme1 svg,
#micro_scheme2 svg {
    width: 48px;
}

@media (max-width: 510px) {
    #micro_content {
        transform: scale(.6);
    }
}

@keyframes marchingants {
    to {
        stroke-dashoffset: 16;
    }
}

rect.strokedrect3 {
    stroke: black;
    fill: transparent;
    stroke-width: 6;
    stroke-dasharray: 8;
    animation: marchingants 1s forwards infinite linear;
    x: -7;
    width: 69px;
}

rect.noanim {
    animation-play-state: paused;
}

.shake {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-2px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(2px, 0, 0);
    }
}

rect.rprect {
    fill: none;
}

circle.rpcircle {
    fill: none;
    stroke: #00BFFF;
    stroke-width: 2;
    opacity: 0.3;
}

svg>.rpcircle:last-child {
    fill: #00BFFF;
    opacity: .5;
}

.rp1 {
    animation: ripple1 1s linear infinite;
}

@keyframes ripple1 {
    0% {
        transform: scale(3.5);
        opacity: 0.3;
    }

    100% {
        transform: scale(4.5);
        opacity: 0.0;
    }
}

.rp2 {
    animation: ripple2 1s linear infinite;
}

@keyframes ripple2 {
    0% {
        transform: scale(2.5);
    }

    100% {
        transform: scale(3.5);
    }
}

.rp3 {
    animation: ripple3 1s linear infinite;
}

@keyframes ripple3 {
    0% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(2.5);
    }
}

.rp4 {
    animation: ripple4 1s linear infinite;
}

@keyframes ripple4 {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1.5);
    }
}