.photos {
    padding-top: 50px;
    padding-bottom: 60px;
    /*margin-bottom: 60px;*/
    background: #edf1f4
}

.photos__header {
    margin-bottom: 40px
}

.photos__header h2 {
    font-weight: 700
}

.photos__slider {
    margin-right: 56px;
    position: relative;
    margin-bottom: 30px
}

.photos__slide {
    outline: none;
    display: -ms-flexbox !important;
    display: flex !important
}

.photos__arrow {
    top: 40px;
    right: 0;
    width: 54px;
    height: 54px;
    cursor: pointer;
    z-index: 2
}

.photos__arrow, .photos__arrow:after, .photos__arrow:before {
    display: block;
    position: absolute;
    transition: all .3s ease-out
}

.photos__arrow:after, .photos__arrow:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 11px 9px 0;
    top: 50%;
    left: 50%;
    margin-top: -9px;
    margin-left: -5px
}

.photos__arrow_prev {
    border: 1px solid #3b69db;
    cursor: pointer
}

.photos__arrow_prev:hover {
    border-color: #ccd2d6
}

.photos__arrow_prev:hover:before {
    border-color: transparent #ccd2d6 transparent transparent
}

.photos__arrow_prev:after {
    border-color: transparent #fff transparent transparent;
    margin-left: -1px
}

.photos__arrow_prev:before {
    border-color: transparent #3b69db transparent transparent
}

.photos__arrow_next {
    right: -54px;
    background: #3b69db;
    cursor: pointer
}

.photos__arrow_next:hover {
    background: #5b85ef
}

.photos__arrow_next:hover:after {
    border-color: transparent transparent transparent #5b85ef
}

.photos__arrow_next:after {
    border-width: 9px 0 9px 11px;
    border-color: transparent transparent transparent #3b69db;
    margin-left: -9px
}

.photos__arrow_next:before {
    border-width: 9px 0 9px 11px;
    border-color: transparent transparent transparent #fff
}

.photos__imgs {
    width: 50%
}

.photos__box {
    padding: 20px 70px 0 25px;
    width: 50%;
    background: #fff
}

.photos__step {
    font-size: 12px;
    color: #3b68db;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px
}

.photos__title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 22px
}

.photos__text {
    font-size: 13px;
    overflow: auto;
    height: 130px
}

.photos__text p {
    margin-bottom: 0
}

.photos__text p:not(:last-child) {
    margin-bottom: 15px
}

.photos__thumbsContainer {
    padding: 0 7px;
    margin-right: 56px
}

.photos__thumbs {
    margin-left: -14px;
    margin-right: -14px
}

.photos__thumbBox {
    padding: 0 7px
}

.photos__thumb {
    outline: none;
    cursor: pointer;
    position: relative
}

.photos__thumb:hover .photos__shadow {
    opacity: 1;
    background: rgba(0, 0, 0, .5)
}

.photos__thumb.slick-current .photos__shadow {
    background: rgba(59, 105, 219, .8);
    opacity: 1
}

.photos__shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 7px;
    right: 7px;
    opacity: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    font-weight: 700;
    font-size: 17px;
    text-align: center;
    text-transform: uppercase;
    transition: all .3s ease-out;
    background: transparent
}



@media (max-width: 767px) {
    .photos__slide {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }

    .photos__slider {
        margin-right: 0
    }

    .photos__imgs {
        width: 100%
    }

    .photos__box {
        width: 100%;
        padding: 15px
    }

    .photos__thumbsContainer {
        display: none
    }

    .photos__arrow {
        top: 100%
    }

    .photos__arrow_prev {
        right: 54px
    }

    .photos__arrow_next {
        right: 0
    }
}
@media (min-width: 992px) {
    .photos {
        padding-top: 90px;
        padding-bottom: 100px;
        /*margin-bottom: 88px*/
    }

    .photos__box {
        padding: 30px 86px 0 52px
    }

    .photos__title {
        font-size: 20px
    }

    .photos__text {
        height: 200px;
        font-size: 16px
    }
}
@media (min-width: 1200px) {
    .photos__text {
        height: 265px
    }
}
.photos__button{
    display: block;
    width: 85%;
    background-color: #2ecc96;
    border-radius: 5px;
    border: none;
    font-size: 140%;
    color: #fff;
    font-family: 'Circe-Bold';
    text-align: center;
    position: relative;
    padding: 12px 10px;
    margin: -45px auto 15px;
    cursor: pointer;
}
@media (min-width:768px) {
    .photos__button{
        width: 90%;
        font-size: 115%;
        margin: -25px auto 0;
    }
    .photos__shadow{
        font-size: 10px!important;
    }
}
@media (min-width:1024px) {
    .photos__button{
        width: 90%;
        font-size: 130%;
        margin: -70px auto 0;
    }
    .photos__shadow{
        font-size: 14px!important;
    }
}
@media (min-width:1200px) {
    .photos__button{
        width: 90%;
        font-size: 150%;
        margin: -105px auto 0;
    }
    .photos__shadow{
        font-size: 14px!important;
    }
}
@media (max-width: 767px){
    .photos .headline__44 {
        font-size: 32px;
        padding: 0 15px;
    }
}
#photos-modal-form .input__button{
    font-size: 17px;
}