.faq {
    background: url("faq-back.jpg") center 0 no-repeat;
    height: 918px;
    padding-top: 75px;
}
.faq__item:before {
    display: block;
    content: "";
    height: 5px;
    width: 80px;
    background-color: #2fcc96;
    margin-bottom: 20px;
}
.faq__item_title {
    margin-bottom: 15px;
}
.faq__item_text {
    font-size: 18px;
    color: #fff !important;
    margin-bottom: 45px;
}
.faq__item_text * {
    font-size: 18px;
    color: #fff !important;
}
.faqform:before {
    display: block;
    content: "";
    width: 225px;
    height: 5px;
    margin: 0 auto;
    background-color: #2ecc96;
    margin-top: 90px;
    margin-bottom: 60px;
}