div#dashboard


<script src="js/blockui.min.js"></script>
<script src="js/interactions.min.js"></script>
script(src="js/echarts.min.js")
<script src="js/select2.min.js"></script>


<script src="js/form_select2.js" ></script>
script(src="js/dashboard.js")