.step {
    background-color: #edf4f5;
    padding-top: 100px;
}
.step__item {
    position: relative;
    margin-bottom: 30px;
}
.step__item_title {
    position: absolute;
    color: #fff;
    font-family: 'circe-light';
    font-size: 30px;
    left: 40px;
    top: 30px;
}
.step__item_title span {
    color: #fff;
    font-family: 'circe-light';
    font-size: 72px;
}
.step__info {
    position: absolute;
    left: 40px;
    top: 200px;
    color: #fff;
    font-size: 16px;
    right: 40px;
}
.step__info span {
    color: #fff;
    font-family: 'circe-bold';
    font-size: 20px;
    display: block;
    margin-bottom: 15px;
}
.step__info p {
    color: #fff;
}