@media (max-width: 767px) {
    .headline__30_extra {
        font-size: 24px;
        padding: 0 15px;
    }
    .headline__action {
        margin-bottom: 30px;
        font-size: 18px;
        padding: 0 15px;
    }
    .headline__44 {
        font-size: 36px;
        padding: 0 15px;
    }
    .headline__24 {
        font-size: 20px;
        padding: 0 15px;
    }
    .headline__44_white {
        font-size: 24px;
        padding: 0 15px;
    }
    .headline__30_viktor {
        color: #000;
        padding-top: 50px;
    }
}