@media (max-width: 1199px) {
    .review__name {
        left: 105px;
        top: 145px;
        font-size: 20px;
    }
    .review__region {
        left: 105px;
        top: 170px;
        font-size: 13px;
    }
}