@media (max-width: 767px) {
    .other__block {
        width: 50%;
        margin-bottom: -15px;
    }
    .other__block:last-child {
        display: none;
    }
    .marquiz {
        display: block;
        position: fixed;
        width: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        background: #2acd97;
        color: #fff;
        font-size: 2em;
        line-height: 1;
    }
}