@media (max-width: 767px) {
    .viktor {
        height: auto;
        background-size: auto 450px;
        padding-top: 225px;
        background-position : 78% 0;
    }
    .viktor__quote {
        font-size: 16px;
        margin-bottom: 90px;
    }
    .viktor__quote:after {
        display: none;
    }
    .viktor__text {
        color: #000;
    }
}