@media (max-width: 767px) {
    .footer__table {
        flex-wrap: wrap;
    }
    .footer__tableitem {
        border-right: none;
        flex-basis: 100%;
        padding: 20px;
    }
    .footer__tableitem:last-child {
        border-bottom: none;
    }
    .footer__brand {
        text-align: center;
        display: block;
    }
    .footer__brand img {
        display: block;
    }
    .footer__socials {
        float: none !important;
        text-align: center;
    }
    .footer__copy {
        text-align: center;
    }
    .footer__yamap {
        width: 290px;
    }
    #yaMapPopup {
        height: 300px;
    }
    .footer__maillink:active,.footer__maillink:visited,.footer__maillink:focus,.footer__maillink:link {
        height: auto;
        line-height: 18px;
    }
}