@media (max-width: 767px) {
    .oplata__item+.oplata__item {
        margin-top: 40px;
    }
    .oplata__tableitem {
        height: auto;
        border-right: 0;
    }
    .oplata__tablehead {
        border: 0;
    }
    .oplata__count {
        padding-bottom: 5px;
    }
    .oplata__item:nth-child(1) {
        border-right: 1px solid #2a8fc5;
    }
    .oplata__item:nth-child(2) {
        border: 1px solid #2fcc96;
    }
    .oplata__item:nth-child(3) {
        border-left: 1px solid #2a8fc5;
    }
}