@media (max-width: 1199px) {
    .proizv__thumbs {
        width: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    .proizv__slideitem {
        width: 855px;
    }
    .proizv__slider_prev {
        top: 210px;
    }
    .proizv__slider_next {
        top: 210px;
    }
}