.headline__44 {
    font-size: 44px;
    font-family: 'circe-bold';
}
.headline__44_white {
    font-size: 44px;
    font-family: 'circe-bold';
    color: #fff;
}
.headline__24 {
    color: #868691;
    font-size: 24px;
}
.headline__20 {
    color: #868691;
    font-size: 20px;
}
.headline__30_extra {
    font-family: 'circe-extrabold';
    font-size: 30px;
    text-transform: uppercase;
}
.headline__30_bold {
     font-family: 'circe-bold';
     font-size: 30px;
 }
.headline__24_bold {
    font-family: 'circe-bold';
    font-size: 24px!important;
}
.headline__30_boldwhite {
    font-family: 'circe-bold';
    font-size: 30px;
    color: #fff;
}
.headline__action {
    font-family: 'circe';
    color: #2a8fc5;
    font-size: 20px;
    margin-bottom: 40px;
}
.headline__action span {
    font-family: 'circe-extrabold';
    color: #2a8fc5;
}

.headline__action_white {
    font-family: 'circe';
    color: #fff;
    font-size: 20px;
    margin-bottom: 40px;
}
.headline__action_white span {
    font-family: 'circe-bold';
    color: #fff;
}
.headline__button{
    display: block;
    position: relative;
    width: 200px;
    margin: 20px auto 40px;
    color: #000000;
    font-size: 24px;
    background: #ffd303;
    text-align: center;
    text-decoration: none;
    border: 0;
    cursor: pointer;
    padding: 15px 0;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    outline: none;
}
.headline__button:hover, .headline__button:focus{
    outline: none;
}
.headline__button:hover{
    background: #e2cb17;
    box-shadow: none;
} 