div#dashboard
	<div class="card">	
		<div class="card-header header-elements-inline">		
		</div>	

		<div class="card-body">
			<div class="col-md-2">
				<div class="form-group">
					<label class="d-block">Select Base</label>
					<div class="">
						<select class="form-control select-icons baseBinance baseBinance_istands"> 
							<option value="0"  data-icon="Bitcoin.svg.png">BTC</option>
							<option value="1"  data-icon="tether.svg">USDT </option>
						</select>
					</div>				
				</div>
			</div>
		</div>
	</div>
	<div class='row btc'>
		<div class="col-md-6">
			<div class="card">	
				<div class="card-header header-elements-inline">Top 10 Constant Buyers, bought >30% every day up  to 10 days, vol >100 btc in 24h, update rate every 1 minute							
				</div>	
				<div class="card-body">		
					<table id="table1">
						<th>
							<tr class="th">
								<td class="">Market</td>
								<td class="color_bg1">Bought increase</td>
								<td class="">Vol 24, btc</td>
								<td class="">Price close ch 24,% </td>
								<td class="">i-stand 3.5%</td>
								<td class="">i-stand 5%</td>
							</tr>							
						</th>
					</table>
				</div>	
			</div>
		</div>
		<div class="col-md-6">
			<div class="card">	
				<div class="card-header header-elements-inline">Top 10 i-stands 3.5%, >100 btc vol in 24h, update rate every 1 minute							
				</div>	
				<div class="card-body">		
					<table id="table2">
						<th>
							<tr class="th">
								<td class="">Market</td>
								<td class="color_bg1">i-stand 3.5%</td>
								<td class="">AVG Bought  3d</td>
								<td class="">AVG Bought  4d</td>
								<td class="">Vol 24, btc</td>
								<td class="">Price close ch 24,% </td>
							</tr>							
						</th>
					</table>
				</div>	
			</div>
		</div>
	</div>
	<div class='row btc'>
		<div class="col-md-6">
			<div class="card">	
				<div class="card-header header-elements-inline">Top 10 i-stands 5%, >100 btc vol in 24h, update rate every 1 minute						
				</div>	
				<div class="card-body">		
					<table id="table3">
						<th>
							<tr class="th">
								<td class="">Market</td>
								<td class="color_bg1">i-stand 5%</td>
								<td class="">AVG Bought  3d</td>
								<td class="">AVG Bought  4d </td>
								<td class="">Vol 24, btc</td>
								<td class="">Price close ch 24,% </td>
							</tr>							
						</th>
					</table>
				</div>	
			</div>
		</div>
		<div class="col-md-6">
			<div class="card">	
				<div class="card-header header-elements-inline">Top 10 Volume AVG Bought  3d, %, bought >50% every day, >100 btc vol in 24h, update rate every 1 minute											
				</div>	
				<div class="card-body">		
					<table id="table4">
						<th>
							<tr class="th">
								<td class="">Market</td>
								<td class="color_bg1">AVG Bought  3d</td>
								<td class="">Vol 24, btc</td>
								<td class="">Price close ch 24,% </td>
								<td class="">i-stand 3.5%</td>
								<td class="">i-stand 5%</td>
							</tr>							
						</th>
					</table>
				</div>	
			</div>
		</div>
	</div>
	<div class='row btc'>
		<div class="col-md-6">
			<div class="card">	
				<div class="card-header header-elements-inline">Top 10 Volume AVG Bought  4d, %, bought >50% every day, >100 btc vol in 24h, update rate every 1 minute												
				</div>	
				<div class="card-body">		
					<table id="table5">
						<th>
							<tr class="th">
								<td class="">Market</td>
								<td class="color_bg1">AVG Bought  4d</td>
								<td class="">Vol 24, btc</td>
								<td class="">Price close ch 24,% </td>
								<td class="">i-stand 3.5%</td>
								<td class="">i-stand 5%</td>
							</tr>							
						</th>
					</table>
				</div>	
			</div>
		</div>
		<div class="col-md-6">
			<div class="card">	
				<div class="card-header header-elements-inline">Top 10 Volume Bought last 7D, %, >100 btc vol in 24h, update rate every 1 minute												
				</div>	
				<div class="card-body">		
					<table id="table6">
						<th>
							<tr class="th">
								<td class="">Market</td>
								<td class="color_bg1">Bought last 7D, %</td>
								<td class="">Vol 24, btc</td>
								<td class="">Price close ch 24,% </td>
								<td class="">i-stand 3.5%</td>
								<td class="">i-stand 5%</td>
							</tr>							
						</th>
					</table>
				</div>	
			</div>
		</div>
	</div>
	<div class='row usdt'>
		<div class="col-md-6">
			<div class="card">	
				<div class="card-header header-elements-inline">Top 10 Constant Buyers, bought >30% every day up  to 10 days, vol >500 000 usdt in 24h, update rate every 1 minute											
				</div>	
				<div class="card-body">		
					<table id="table1">
						<th>
							<tr class="th">
								<td class="">Market</td>
								<td class="color_bg1">Bought increase</td>
								<td class="">Vol 24, btc</td>
								<td class="">Price close ch 24,% </td>
								<td class="">i-stand 3.5%</td>
								<td class="">i-stand 5%</td>
							</tr>							
						</th>
					</table>
				</div>	
			</div>
		</div>
		<div class="col-md-6">
			<div class="card">	
				<div class="card-header header-elements-inline">Top 10 i-stands 3.5%, >500 000 usdt vol in 24h, update rate every 1 minute							
				</div>	
				<div class="card-body">		
					<table id="table2">
						<th>
							<tr class="th">
								<td class="">Market</td>
								<td class="color_bg1">i-stand 3.5%</td>
								<td class="">AVG Bought  3d</td>
								<td class="">AVG Bought  4d</td>
								<td class="">Vol 24, btc</td>
								<td class="">Price close ch 24,% </td>
							</tr>								
						</th>
					</table>
				</div>	
			</div>
		</div>
	</div>
	<div class='row usdt'>
		<div class="col-md-6">
			<div class="card">	
				<div class="card-header header-elements-inline">Top 10 i-stands 5%, >500 000 usdt vol in 24h, update rate every 1 minute						
				</div>	
				<div class="card-body">		
					<table id="table3">
						<th>
							<tr class="th">
								<td class="">Market</td>
								<td class="color_bg1">i-stand 5%</td>
								<td class="">AVG Bought  3d</td>
								<td class="">AVG Bought  4d </td>
								<td class="">Vol 24, btc</td>
								<td class="">Price close ch 24,% </td>
							</tr>							
						</th>
					</table>
				</div>	
			</div>
		</div>
		<div class="col-md-6">
			<div class="card">	
				<div class="card-header header-elements-inline">Top 10 Volume AVG Bought  3d, %, bought >50% every day, >500 000 usdt vol in 24h, update rate every 1 minute												
				</div>	
				<div class="card-body">		
					<table id="table4">
						<th>
							<tr class="th">
								<td class="">Market</td>
								<td class="color_bg1">AVG Bought  3d</td>
								<td class="">Vol 24, btc</td>
								<td class="">Price close ch 24,% </td>
								<td class="">i-stand 3.5%</td>
								<td class="">i-stand 5%</td>
							</tr>							
						</th>
					</table>
				</div>	
			</div>
		</div>
	</div>
	<div class='row usdt'>
		<div class="col-md-6">
			<div class="card">	
				<div class="card-header header-elements-inline">Top 10 Volume AVG Bought  4d, %, bought >50% every day, >500 000 usdt vol in 24h, update rate every 1 minute												
				</div>	
				<div class="card-body">		
					<table id="table5">
						<th>
							<tr class="th">
								<td class="">Market</td>
								<td class="color_bg1">AVG Bought  4d</td>
								<td class="">Vol 24, btc</td>
								<td class="">Price close ch 24,% </td>
								<td class="">i-stand 3.5%</td>
								<td class="">i-stand 5%</td>
							</tr>							
						</th>
					</table>
				</div>	
			</div>
		</div>
		<div class="col-md-6">
			<div class="card">	
				<div class="card-header header-elements-inline">Top 10 Volume Bought last 7D, %, >500 000 usdt vol in 24h, update rate every 1 minute											
				</div>	
				<div class="card-body">		
					<table id="table6">
						<th>
							<tr class="th">
								<td class="">Market</td>
								<td class="color_bg1">Bought last 7D, %</td>
								<td class="">Vol 24, btc</td>
								<td class="">Price close ch 24,% </td>
								<td class="">i-stand 3.5%</td>
								<td class="">i-stand 5%</td>
							</tr>							
						</th>
					</table>
				</div>	
			</div>
		</div>
	</div>
<script src="js/blockui.min.js"></script>
<script src="js/interactions.min.js"></script>
<script src="js/select2.min.js"></script>


<script src="js/form_select2.js" ></script>
<script src="js/istands.js" ></script>
