.points {
    padding-top: 75px;
}
.point__item__container {
    position: relative;
    margin-bottom: 30px;
}
.point__item__container img {
    width: 100%;
}
.point__item {
    padding: 0 40px 40px 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.point__item_title {
    font-family: 'circe-bold';
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 15px;
}
.point__item_text {
    font-size: 16px;
    color: #fff;
}
.points__body {
    margin-top: 75px;
}
.points:after {
    margin: 0 auto;
    margin-top: 70px;
    width: 225px;
    height: 5px;
    background-color: #2ecc96;
    content: "";
    display: block;
    margin-bottom: 60px;
}