@media (max-width : 767px) {
  .header__phones {
    margin-top : 20px;
    font-size  : 22px;
    line-height: 1.5;
  }

  .header__head {
    font-size  : 27px;
    margin-top : 25px;
    text-align : center;
  }

  .header {
    background-size : auto 100%;
    height          : auto;
    padding-bottom  : 50px;
  }

  .header-bg {
    height              : 420.813px !important;
    background-size     : cover !important;
    background-position : center center !important;;
  }
}

@media (max-width : 345px) {
  .header-bg {
    height : 450.813px !important;
  }
}