@media (max-width: 991px) {
    .oplata__tablehead {
        font-size: 14px;
    }
    .oplata__tablehead_big {
        font-size: 20px;
    }
    .oplata__count {
        font-size: 30px;
        padding-bottom: 24px;
    }
    .oplata__tableitem {
        height: 345px;
    }
}