mixin header(data)
	header.header
		.container
			.socials
				a(href="").soc.vk
					img(src="static/img/general/vk.svg", alt="")
				a(href="").soc.in
					img(src="static/img/general/Instagram.svg", alt="")
				a(href="").soc.youtube
					img(src="static/img/general/Youtube.svg", alt="")
			ul.menu
					li
						a(href="") Главная
					li
						a(href="") Услуги
					li
						a(href="") Блог
					li
						a(href="") Книги
					li
						a(href="") Контакты
			.langs
				.lang RU
				.lang.active EN

