.project {
    margin-bottom: 30px;
}
.project__info {
    padding: 20px 18px 29px 18px;
    background-color: #edf4f5;
    min-height: 210px;
}
.project__info_region {
    font-size: 16px;
    color: #9898a1;
    margin-bottom: 10px;
}
.project__info_title {
    color: #2a8fc5;
    font-size: 18px;
    font-family: 'circe-bold';
    max-width: 75%;
    margin-bottom: 18px;
}
.project__info_square {
    font-size: 20px;
    color: #2ecc96;
    border: 1px solid #2ecc96;
    padding: 8px;
    padding-bottom: 6px;
}
.project__info_square sup {
    font-size: 12px;
    color: #2ecc96;
}
.project__info_price {
    font-size: 16px;
    color: #9898a1;
    display: none!important;
}
.project__info_price span {
    color: #000;
    font-size: 28px;
    font-family: 'circe-bold';
    display: block;
    line-height: 28px;
    margin-top: 3px;
    display: none!important;
}
.project__info_price span span {
    font-size: 20px;
    display: inline;
}
.project__info_price span img {
    height: 23px;
    display: inline-block;
    vertical-align: top;
    margin-top: 1px;
}
.project__info_button {
    cursor: pointer;
    font-size: 18px;
    color: #fff;
    border-radius: 5px;
    background-color: #2a8fc5;
    padding: 14px 24px;
}
.projects {
    position: relative;
}
.projects:after {
    height: 6px;
    width: 225px;
    background-color: #2ecc96;
    content: "";
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 55px;
    display: block;
}