@media (max-width: 991px) {
    .kind__iteminfo {
        padding-right: 10px;
        padding-left: 15px;
        padding-top: 15px;
    }
    .kind__itemtitle {
        font-size: 16px;
        margin-bottom: 5px;
    }
    .kind__itemprice {
        font-size: 20px;
    }
    .kind__itemprice::after {
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .kind__itemul span {
        font-size: 14px;
    }
}