.other {
    background-color: #edf4f5;
    padding-top: 115px;
}
.other__block {
    width: 20%;
    position: relative;
    margin-top: 30px;
    margin-bottom: 90px;
}
.other__block img {
    width: 100%;
}
.other__title {
    color: #fff;
    font-family: 'circe-bold';
    font-size: 20px;
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -12px;
    left: 0;
    right: 0;
}
.other__button {
    width: 168px;
    margin: 0 auto;
    margin-top: -22px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    color: #fff;
    font-family: 'circe-bold';
    font-size: 20px;
    border-radius: 5px;
    background-color: #2ecc96;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    cursor: pointer;
    z-index: 5;
    position: relative;
}
.other__titile_2 {
    margin-top: -36px;
}
.other__titile_3 {
    margin-top: -24px;
}
.marquiz {
    display: block;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: #2acd97;
    color: #fff;
    font-size: 2em;
    z-index: 1000;
}
.marquiz a{
    color:inherit;
    text-decoration: none;
    display:block;
    position: relative;
    width: 100%;
}
@media (min-width:1366px) {
    .marquiz {
        font-size: 2.5em;
    }
}
@media (min-width:1400px) {
    .marquiz {
        font-size: 3.1em;
    }
}
@media (min-width:1600px) {
    .marquiz {
        font-size: 3.7em;
    }
}