.body__wrapper, .body__wrapper * {
    font-family: 'Circe', Arial;
    line-height: 1.2;
    color: #000;
}
.body__wrapper {
    width: 1600px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    position: relative;
}
.container {
    position: relative;
}
@media (max-width: 1630px) {
    .body__wrapper {
        width: 100%;
    }
}

.lightbox__overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 11500;
    top:0;
    left:0;
    display: none;
    overflow: auto;
}
.lightbox__wrap {
    z-index: 11501;
    display: none;
    margin: 5% auto;
    margin-top: 100px;
    position: relative;
    text-align: center;
}
.lightbox__wrap .close {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 30;
}
.lightbox__close {
    position: absolute;
    right: 0px;
    top: -56px;
    height: 27px;
    width: 27px;
    background: url("close.png") center center no-repeat;
    cursor: pointer;
    z-index: 11510;
}
.lightbox__content {
    display: inline-block;
    background-color: #fff;
    position: relative;
}
.lightbox__wrap .close span {
    font-size: 35px;
    margin-right: 10px;
}