mixin footer(data)
	footer.footer
		.container
			.address
				.top Ул. Садовая 18Б, Партизанск, Россия
				.bot Canada, Winnipeg, Manitoba, Dakota St. 1145 144L
			.socials
				a(href="").soc.vk
					img(src="static/img/general/vk.svg", alt="")
				a(href="").soc.in
					img(src="static/img/general/Instagram.svg", alt="")
				a(href="").soc.youtube
					img(src="static/img/general/Youtube.svg", alt="")
			.copy
				.top Kvahu 2018. Все права защищены
				a(href="").politica Политика конфиденциальности
		<script  src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>
